<div class="table-scroll-track" data-auto-scroll="true">
<table>
    <thead>
        <tr>
            <th colspan="20" class="section-header">O&amp;M Ordinaria {% now "Y" %}</th>
            <th colspan="5" class="section-header straord-start straord-col">Straordinario</th>
        </tr>
        <tr>
            <th aria-label="Stato"></th>
            <th>Impianto</th>
            <th>Cliente</th>
            <th class="table-align-right">Potenza Contratto</th>
            <th class="table-align-right">Potenza Installata</th>
            <th class="table-align-right">PR Contrattuale</th>
            <th class="table-align-right">PR Ultimi 12 Mesi</th>
            <th class="table-align-right">Mancata Produzione</th>
            <th class="table-align-right">Ore Equivalenti ultimi 12 mesi</th>
            <th>Inizio Contratto</th>
            <th>Fine Contratto</th>
            <th>Anni Contratto</th>
            <th class="table-align-right">Totale Contratto</th>
            <th class="table-align-right">Totale Annuo su MW</th>
            <th class="table-align-right">Totale Annuo</th>
            <th class="table-align-right">Maturato {% now "Y" %}</th>
            <th class="table-align-right">Fatturato {% now "Y" %}</th>
            <th class="table-align-right">Incassato {% now "Y" %}</th>
            <th>Data Prossima Fattura</th>
            <th class="table-align-right">Importo Prossima Fattura</th>
            <th class="table-align-right straord-start straord-col">Costo sostenuto</th>
            <th class="table-align-right straord-col">Totale fatturato</th>
            <th class="table-align-right straord-col">Margine</th>
            <th class="table-align-center straord-col"># Fatture Straordinarie Annuo</th>
            <th class="table-align-center straord-col"># Fatture Totali</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td><span class="{{ row.status_class }}" aria-hidden="true"></span></td>
                <td><a class="impianto-detail-link" href="{% url 'PortaleZilioService:impianto-detail' %}?nome={{ row.nome_impianto|urlencode }}">{{ row.nome_impianto }}</a></td>
                <td>{{ row.nome_cliente }}</td>
                <td class="table-align-right">{{ row.potenza_contratto }}</td>
                <td class="table-align-right">{{ row.potenza_installata }}</td>
                <td class="table-align-right">{{ row.pr_contrattuale }}</td>
                <td class="js-pr-ultimi-12-mesi table-align-right">
                    {% if row.pr_ultimi_12_mesi == "SM" %}
                        <span class="metric-delta-soft-loss">{{ row.pr_ultimi_12_mesi }}</span>
                    {% elif row.pr_ultimi_12_mesi == "ERR" %}
                        <span class="pr-placeholder-muted">{{ row.pr_ultimi_12_mesi }}</span>
                    {% else %}
                        {{ row.pr_ultimi_12_mesi }}
                    {% endif %}
                </td>
                <td class="table-align-right">
                    <span class="{{ row.mancata_produzione_class }}">{{ row.mancata_produzione }}</span>
                    {% if row.mancata_produzione != "SM" and row.mancata_produzione != "ERR" and row.mancata_produzione != "--" %}
                        <span class="metric-unit">kWh</span>
                    {% endif %}
                </td>
                <td class="table-align-right">{{ row.ore_equivalenti }}</td>
                <td>{{ row.inizio_contratto }}</td>
                <td>{{ row.fine_contratto }}</td>
                <td>{{ row.totale_anni_contratto }}</td>
                <td class="table-align-right">{{ row.totale_contratto }}</td>
                <td class="table-align-right">{{ row.totale_annuale_su_MW }}</td>
                <td class="table-align-right">{{ row.totale_annuo }}</td>
                <td class="table-align-right">{{ row.totale_maturato }}</td>
                <td class="table-align-right">{{ row.fatturato }}</td>
                <td class="table-align-right">{{ row.totale_incassato }}</td>
                <td><span class="{{ row.data_prossima_fattura_class }}">{{ row.data_prossima_fattura }}</span></td>
                <td class="table-align-right">{{ row.importo_prossima_fattura }}</td>
                <td class="table-align-right straord-start straord-col">{{ row.totale_ordinato_straordinario }}</td>
                <td class="table-align-right straord-col">{{ row.totale_fatturato_straordinario }}</td>
                <td class="table-align-right straord-col"><span class="{{ row.margine_straordinario_class }}">{{ row.margine_straordinario }}</span></td>
                <td class="table-align-center straord-col">{{ row.numero_fatture_straordinarie_annuo }}</td>
                <td class="table-align-center straord-col">{{ row.numero_fatture_straordinarie_totali }}</td>
            </tr>
        {% empty %}
            <tr><td colspan="25">Nessun dato disponibile.</td></tr>
        {% endfor %}
    </tbody>
</table>
</div>
<p class="pr-placeholder-muted">SM = Solarimetro mancante. ERR = PR non disponibile nonostante il solarimetro sia presente.</p>


