<div class="table-scroll-track" data-auto-scroll="true">
    <table>
        <thead>
            <tr>
                <th>Impianto</th>
                <th>Cliente</th>
                <th>Tariffa MWh</th>
                <th>Strumento di Contabilizzazione</th>
                <th>Energia Prodotta 2026</th>
                <th>Energia Autoconsumata 2026</th>
                <th>Percentuale di Autoconsumo 2026</th>
                <th>Maturato PPU 2026 in kWh</th>
                <th>Maturato PPU 2026 in €</th> <!-- autoconsumato x tariffa- Unita di misura: euro/MWh -->
                <th>Fatturato dall'Inizio</th> 
                <th>Tipologia di Pagamento</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th>Anni Contratto</th>
                <th>PR Stimato Annuo</th>
                <th>Energia Stimata Annua</th>
                <th>Mancata Produzione</th>
                <th>Fatturato Previsto</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td><a class="impianto-detail-link" href="{% url 'PortaleZilioService:impianto-detail' %}?nome={{ row.nome_impianto|urlencode }}">{{ row.nome_impianto }}</a></td>
                    <td>{{ row.nome_cliente }}</td>
                    <td>{{ row.tariffa_mwh }}</td>
                    <td>{{ row.strumento_di_contabilizzazione }}</td>
                    <td>{{ row.energia_prodotta_2026 }}</td>
                    <td>{{ row.energia_autoconsumata_2026 }}</td>
                    <td>{{ row.percentuale_autoconsumo_2026 }}</td>
                    <td>{{ row.maturato_ppu_2026_kwh }}</td>
                    <td>{{ row.maturato_ppu_2026_euro }}</td>
                    <td>{{ row.fatturato_dall_inizio }}</td>
                    <td>{{ row.tipologia_di_pagamento }}</td>
                    <td>{{ row.data_di_inizio }}</td>
                    <td>{{ row.data_di_fine }}</td>
                    <td>{{ row.totale_anni_contratto }}</td>
                    <td>{{ row.pr_stimato_annuo }}</td>
                    <td>{{ row.energia_stimata_annua }}</td>
                    <td>{{ row.mancata_produzione }}</td>
                    <td>{{ row.fatturato_previsto }}</td>
                </tr>
            {% empty %}
                <tr><td colspan="18">Nessun dato disponibile.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>


