{% extends 'base_layout.html' %}
{% load static %}

{% block refresh %}
	<meta http-equiv="refresh" content="{{ refresh }}">
{% endblock %}

{% block extra_css %}
	<!-- CSS LEDS -->
	<link rel="stylesheet" href="{% static 'css/leds.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid p-3">
	<div class="row p-0 m-0" style="background-color: #ffffff; border-radius: 8px; box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0 1px 3px -1px;">
		<!-- BARRA GRIGIA SOPRA COME SFONDO -->
		<div class="col px-0 backgroundBar" style="height: 60px">
			<!-- LED IMPIANTO -->
			<div class="led-box"><div id="ledcolor" class="led-class"></div></div>
			<h1 style="color: #4a3c54; margin-left: 20px; display: inline;">{{ impianto.nome_impianto }}</h1>
			<span style="display:inline; padding-left: 50px"><a style="text-align: end; color: #6c4d79" target="_blank" href="https://www.isolarcloud.eu/">iSolarCloud</a></span>
		</div>
		<!-- GRAFICO -->
		<div class="row" style="padding: 0 20px 0 20px;">
				<div id="chart" style="height: 500px;"></div>
		</div>
		
		<div class="row p-2 justify-content-center" style="font-size: 18px">
			<!-- GAUGE POTENZA -->
			<div class="col-3">
				<div id='gauge-potenza' style="height: 250px;"></div>
			</div>
			<!-- INFO VARIE ENERGIA PRODOTTA -->
			<div class="col-4">
				<div class="row py-4">
					<div class="col mx-4 info-fotovoltaico">
						<i class="bi bi-lightning-fill"></i> Energia prodotta <br>
						<b id="energy" style="padding-left: 20px">-</b>
					</div>
					<div class="col info-fotovoltaico">
						<i class="bi bi-globe-europe-africa"></i> C0<sub>2</sub> offset <br>
						<b id="co2" style="padding-left: 20px">-</b>
					</div>
				</div>
				<div class="row py-4">
					<div class="col mx-4 info-fotovoltaico">
						<i class="bi bi-tree-fill"></i> Alberi equivalenti <br>
						<b id="alberi" style="padding-left: 20px">-</b>
					</div>
					<div class="col info-fotovoltaico">
						<i class="bi bi-houses-fill"></i> Fabbisogno giornaliero <br>
						<b id="case" style="padding-left: 20px">-</b>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	
	<!-- CODICE JAVASCRIPT PER IL GRAFICO E I GAUGE -->
	{% include 'js/MonitoraggioImpianti/monitoraggio_fotovoltaico_js.html' %}
{% endblock %}



