
# File temporanei e di ambiente
.env
.cache.sqlite
venv/
db.sqlite3

# File di sistema e IDE
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd

# Static e media
staticfiles/

# Cache Python
*/__pycache__/

# File temporanei comuni
*.log
*.bak
*.tmp

# File specifici del progetto
problems.txt
TODO

0verview_temporaneo/
.cache.sqlite


zilio_monitoring/
temporary/
ANALISI_PROGETTO.md
FLUSSO_ISC_RCT.md
