{% load static %}

{% for nickname, impianto in plants_overview.items %}
	{% if impianto.tipo == 'Fotovoltaico' %}
  <a style="text-decoration: none; padding: 0 5px;" href="{% url 'monitoraggio-impianto' nickname %}" target="_blank">
    <div class="card2">
	    <div class="go-corner" style="background-color: #ded259;"><div class="go-arrow">→</div></div>
      <table style="color: #504828; width: 100%">
	      <colgroup>
					<col span="1" style="width: 8%;">
					<col span="1" style="width: 18%;">
					<col span="1" style="width: 8%;">
					
					<col span="1" style="width: 12%;">
			    <col span="1" style="width: 22%;">
			    <col span="1" style="width: 16%;">
			    <col span="1" style="width: 16%;">
        </colgroup>
        <tbody>
          <tr style="border-collapse: collapse; font-size: 14px">
            <td style="border: none">
	            <div>
		            <img src="{% static 'images/weather_icons/'|add:impianto.curr_icona  %}" alt="weather" style="height: 40px">
	            </div>
	            <div style="margin-top: -10px">
		            <small style="font-size: 12px; color: #939393; margin-left: 10px">{{ impianto.curr_temp }}°C</small>
	            </div>
            </td>
            <td style="padding-left: 8px">
	            <b>{{ impianto.Name }}</b>
            </td> 
	          <td style="text-align: center;">
	            <div class="led-box" style="margin:0; padding: 10% 0 0 30%"><div id="Led_{{ nickname }}" class="led-class" style="width: 20px; height: 20px"></div></div>
            </td>
            <td style="text-align: center; border: none; "><div id="minichart_{{ nickname }}" class="minichartPV"></div></td>
	          {% load humanize %}{% load i18n %}{% load l10n %}
	          {% language 'de' %}
            <td style="text-align: end;"><b id="PLast_{{ nickname }}"> - </b><span style="color: #9f9f9f; font-size: 12px"> / {{ impianto.potenza_installata|floatformat:"2g" }} kW</span></td>
	          {% endlanguage %}
            <td style="text-align: center;"><b id="Energy_{{ nickname }}"> - </b></td>
            <td style="text-align: center;"><b> - </b></td>
          </tr>
        </tbody>
	      <tfoot >
	      <tr style="width: 100%">
		      <td id="lastT_{{ nickname }}" class="aggiornamento-PVTable-card" colspan="7">
			      aggiornamento: 
		      </td>
	      </tr>
        </tfoot>
	      
	      <script>
			      function getRandomArbitrary(min, max) {return Math.random() * (max - min) + min;}
			      $(document).ready(function(){
			          var endpoint = '{% url 'api-monitoraggio-impianto' nickname %}';
			          let idMiniChart = 'minichart_'.concat('{{ nickname }}');
			          let idLastT = 'lastT_'.concat('{{ nickname }}');
			          let idLed = 'Led_'.concat('{{ nickname }}');
			          let idPLast = 'PLast_'.concat('{{ nickname }}');
			          let idEnergy = 'Energy_'.concat('{{ nickname }}');
			          let text1 = 'aggiornamento: '.concat('');
	                      
			          var MiniChart_{{ nickname }} = echarts.init(document.getElementById(idMiniChart));
			          window.addEventListener('resize', function() {MiniChart_{{ nickname }}.resize();});
	                  
			          MiniChart_{{ nickname }}.setOption({
					          color: ['rgb(248,123,104)'],
					          xAxis: [{ data: [], show: false }], 
					          yAxis: {type: 'value', min: 0, offset:80, max: {{ impianto.potenza_installata|stringformat:".2f" }}, splitLine: {show: false}, },
					          grid:[{top:0,bottom:0,right:0,left:0}],
					          series: [{
							          data: [], type: 'line', areaStyle: {},showSymbol: false,lineStyle:{width: 1,}
					          }]
			          });
					      
					      (function ajax_{{ nickname }}() {
	                  $.ajax(endpoint).done(function(data) {
	                      console.log(endpoint, data);
	                      let potenza = data.pot;
	                      let timestamps = data.time;
	                      let last_index = data.k_last;
	                      let last_t = timestamps[last_index];
			                  let info = data.info;
	                      last_t = text1.concat(last_t);

	                      document.getElementById(idLed).className = data.led;
	                      document.getElementById(idLastT).innerHTML = last_t;
	                      if (data.PLast) {document.getElementById(idPLast).innerHTML = toLocale(data.PLast,0) + ' kW'}
	                      if (info.energy) {document.getElementById(idEnergy).innerHTML = toLocaleKWh(info.energy,0)}

	                      MiniChart_{{ nickname }}.setOption({
	                          xAxis: [{ data: timestamps }],
	                          series: [{
	                              data: potenza,
	                          }]
	                      })
	                  });
	                  let delay = getRandomArbitrary(60000,10*60000);
										  console.log(delay);
										  setTimeout(ajax_{{ nickname }}, delay);
			           })()
	          })
          </script>
      </table>
    </div>
  </a>
	{% endif %}
{% endfor %}



