<div class="container-fluid" style="padding: 0 5px">
<table class="table" style="width: 100%; margin: 0">
	<colgroup>
		<col span="1" style="width: 8%;">
		<col span="1" style="width: 18%;">
		<col span="1" style="width: 8%;">
		
		<col span="1" style="width: 12%;">
    <col span="1" style="width: 22%;">
    <col span="1" style="width: 16%;">
    <col span="1" style="width: 16%;">
  </colgroup>
  <thead>
    <tr>
	    <th></th>
      <th style="text-align: left;">Impianto</th>
	    <th style="text-align: center;">Stato</th>
	    <th style="text-align: center;"></th>
      <th style="text-align: center;">Potenza</th>
      <th style="text-align: center;">Energia - oggi</th>
	    <th style="text-align: center;">Rendimento</th>
    </tr>
  </thead>
</table>
</div>