<div class="container-fluid" style="padding: 0 5px;">
<table class="table" style="width: 100%; margin: 0;">
	<colgroup>
		<col span="1" style="width: 8%;">
		<col span="1" style="width: 18%;">
		<col span="1" style="width: 8%;">
		
		<col span="1" style="width: 12%;">
    <col span="1" style="width: 22%;">
    <col span="1" style="width: 16%;">
    <col span="1" style="width: 16%;">
  </colgroup>
  <thead>
    <tr>
	    <th style="background-color:rgba(0, 0, 0, 0);"></th>
      <th style="text-align: left; background-color:rgba(0, 0, 0, 0);">Impianto</th>
	    <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Stato</th>
	    <th style="text-align: center; background-color:rgba(0, 0, 0, 0);"></th>
      <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Potenza</th>
      <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Energia</th>
	    <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Rendimento</th>
    </tr>
  </thead>
</table>
</div>