{% extends "base_layout.html" %}
{% load static %}

{% block title %}{{ page_title|default:"Nuovo Record FV" }}{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style_overview_page.css' %}">
    <link rel="stylesheet" href="{% static 'PortaleZilioService/css/home.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="energy-section">
            <h1>{{ page_title|default:"Nuovo Record Fotovoltaico" }}</h1>
            <p>
                <a class="category-button" href="{% url 'PortaleZilioService:home' %}">Torna alla Home</a>
            </p>
            <form method="post" class="fv-form">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="category-button">Salva</button>
            </form>
        </section>
    </main>
{% endblock %}
