{% extends 'PortaleCorrispettivi/baselayoutcorispettivi.html' %}
{% load static %}

{% block title %}Portale Impianti{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/style_report.css' %}">
{% endblock %}

{% block body %}
	<main style="background-color: #ececec">
	<div class="report-page">
		<div class="report-item-a">
			<h3 style="font-weight: bold; color: white">Report di produzione - {{ impianto.nome_impianto }}</h3>
		</div>
		<div class="report-grafici">
		<div class="report-item-b">
			<div style="margin: 10px 0 0 50px"><span class="report-title-text">Andamento anno corrente</span></div>
			<div id="chart1" style="height: 90%; width: 100%; padding-top: 10px"></div>
		</div>
		<div class="report-item-c">
			<div id="chart2" style="height: 90%; width: 100%; margin-right: -20px; padding-top: 10px"></div>
		</div>
		</div>
		<div class="report-item-d">
			<div class="container-fluid w-100">
				<div style="margin: 10px 30px">
{#				<div style="margin: 10px 0 0 20px"><span style="padding: 1px 10px; color: white; font-size: 18px; font-weight: bold; border-radius: 3px; background-color: #4088d4">Dati {{ anno_prec }}</span>#}
					<div style="width: 100%; background-color: #4088d4;border-radius: 3px;"><span style="padding: 1px 10px; color: white; font-size: 16px; font-weight: bold; "> Aggregati {{ anno_prec }}</span></div>
					<table class="table-report">
						<thead></thead>
						<tbody>
						<tr><td>Energia prodotta</td><td id="tot_energia_prec"> - </td></tr>
						<tr><td>Incassi GSE</td><td id="tot_incassi_prec"> - </td></tr>
						<tr><td>Fatturato</td><td id="tot_fatturato_prec"> - </td></tr>
						</tbody>
					</table>
				</div>
				<div style="margin: 10px 30px">
					<div style="width: 100%; background-color: #4088d4;border-radius: 3px;"><span style="padding: 1px 10px; color: white; font-size: 16px; font-weight: bold; "> Aggregati {{ anno_prec|add:"-1" }}</span></div>
					<table class="table-report">
						<thead></thead>
						<tbody>
						<tr><td>Energia prodotta</td><td id="tot_energia_ante"> - </td></tr>
						<tr><td>Incassi GSE</td><td id="tot_incassi_ante"> - </td></tr>
						<tr><td>Fatturato</td><td id="tot_fatturato_ante"> - </td></tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="report-link">
				<a href="{% url 'genera-report-pdf' nickname %}" class="btn btn-secondary btn-sm" role="button">Genera PDF</a>
			</div>
		</div>
		<div class="report-item-e">
			<div style="margin: 10px 0 0 50px"><span class="report-title-text">Storico, ultimi 24 mesi</span></div>
			<div id="chart3" style="height: 90%; width: 100%; padding-top: 10px"></div>
		</div>
	</div>
		
	</main>
	<script>
	$(document).ready(function(){
			let color_palette = [
					'rgb(239,117,117)',
					'rgb(225,219,195)',
					'rgb(89,120,166)',
					'rgb(252,174,125)',
					'rgb(175,104,101)',
					'rgb(36,136,190)',
			]
			const anno = '{{ curr_anno }}';
			const anno_prec = '{{ anno_prec }}'
			const nickname = '{{ nickname }}';
			var chart1 = echarts.init(document.getElementById('chart1'),);
			var chart2 = echarts.init(document.getElementById('chart2'),);
            
			var url_corrispettivi = '{% url 'api-table-corrispettivi' 'anno_nickname' %}'.replace('anno_nickname', anno + '_' + nickname);
			$.ajax({
          'url': url_corrispettivi,
          'method': "GET",
          'cache': false,
          'contentType': 'application/json'
      }).done( function(DATA) {
					console.log(DATA);
          let DATI = DATA.TableCorrispettivi
          let mesi = DATI.map((el, index)=> el.mese);
					let e_incentivata_anno = DATI.map((el, index)=> parseFloat(el.E_incentivata || ''));
					let corrispettivi_anno = DATI.map((el, index)=> parseFloat((el.aspettata_inc + el.aspettata_non_inc) || ''));
					let fatturati_anno = DATI.map((el, index)=> parseFloat((el.fatturazione_tfo + el.fatturazione_non_inc) || ''));
					let incassi_anno = DATI.map((el, index)=> parseFloat(el.incassi || ''));
					
					chart1.setOption({
							tooltip: {trigger: 'axis'}, 
							toolbox: {feature: {saveAsImage: {}}},
							xAxis: [{
									type:'category', data: mesi, show: true, axisTick: {alignWithLabel: true}, 
									axisLabel: {formatter: val => val.substring(0, 3)}
							}], 
							yAxis: [
									{
											type: 'value', name: 'Energie (kWh)', axisLine: {show: true,}, min: 0,
											axisLabel: {formatter: val => toLocale(val,0)}
									}, 
									{
											type: 'value', axisLine: {show: true,}, min: 0,
											axisLabel: {formatter: val => toLocaleEUR(val,0)}
									},
							], 
							legend: {}, 
							series: [
									{data: e_incentivata_anno, type: 'line',xAxisIndex: 0, yAxisIndex: 0, name:'Energia incentivata',
											tooltip: {valueFormatter: value => toLocaleKWh(value,0)}, color: color_palette[0], symbolSize: 1,
											label: {show: true, position: 'top',
													formatter: function (params) {
															return params.value === 0 ? '': toLocale(params.value,0)
													}
											}
									}, 
									{data: corrispettivi_anno, type: 'bar', xAxisIndex: 0, yAxisIndex: 1,name:'Corrispettivi', 
											tooltip: {valueFormatter: value => toLocaleEUR(value,0)}, color: color_palette[1],
											label: {show: true, position: 'inside',
													formatter: function (params) {
															return params.value === 0 ? '': toLocaleEUR(params.value,0)
													}
											}
									},
							]
					});
                    
					chart2.setOption({
							tooltip: {trigger: 'axis'}, 
							grid: { 'left': '20%', 'right': '5%'},
							toolbox: {feature: {saveAsImage: {}}},
							xAxis: [{type:'category', data: mesi, show: true, axisTick: {alignWithLabel: true}, 
									axisLabel: {formatter: val => val.substring(0, 3)}
							}], 
							yAxis: [{type: 'value', axisLine: {show: true,}, min: 0, axisLabel: {formatter: val => toLocaleEUR(val,0)}},], 
							legend: {}, 
							series: [
									{data: incassi_anno, type: 'bar',name:'Incassi', xAxisIndex: 0, yAxisIndex: 0,
											tooltip: {valueFormatter: value => toLocaleEUR(value,0)},barCategoryGap: '15%',
											label: {show: true, position: 'inside', rotate: 90,
													formatter: function (params) {
															return params.value === 0 ? '': toLocaleEUR(params.value,0)
													}
											}
									},
									{data: fatturati_anno, type: 'bar',name:'Fatturazione', xAxisIndex: 0, yAxisIndex: 0,color: color_palette[3],
											tooltip: {valueFormatter: value => toLocaleEUR(value,0)},
											label: {show: true, position: 'inside',rotate: 90,
													formatter: function (params) {
															return params.value === 0 ? '': toLocaleEUR(params.value,0)
													}
											}
									},
							]
					});
			});
            
			
			/*
			CALL DATI CORRISPETTIVI ED ENERGIA ANNO PRECEDENTE AL CORRENTE
			 */
			var url_corrispettvi_anno_prec = '{% url 'api-table-corrispettivi' 'anno_nickname' %}'.replace('anno_nickname', anno_prec + '_' + nickname)
			var tot_incassi_anno_prec = []
			var tot_fatturato_anno_prec = []
			$.get(url_corrispettvi_anno_prec).done(function (DATA) {
					let DATI = DATA.TableCorrispettivi
					let incassi_anno_prec = DATI.map((el, index)=> parseFloat(el.incassi));
                    
					let fatturati = DATI.map((el, index)=> parseFloat(el.fatturazione_tfo + el.fatturazione_non_inc));
					tot_incassi_anno_prec = incassi_anno_prec.reduce((a, b) => a + b, 0)
					tot_fatturato_anno_prec = fatturati.reduce((a, b) => a + b, 0)
					document.getElementById("tot_incassi_prec").innerHTML = toLocaleEUR(tot_incassi_anno_prec,2);
					document.getElementById("tot_fatturato_prec").innerHTML = toLocaleEUR(tot_fatturato_anno_prec,2);
			});
			var url_misure_anno_prec = '{% url 'api-table-misure' 'anno_nickname' %}'.replace('anno_nickname', anno_prec + '_' + nickname)
			var tot_energia_anno_prec = []
			$.get(url_misure_anno_prec).done(function (DATA) {
					let DATI = DATA.TableMisure
					let e_prodotta_anno_prec = DATI.map((el, index)=> parseFloat(el.prodotta_def || 0));
					tot_energia_anno_prec = e_prodotta_anno_prec.reduce((a, b) => a + b, 0)
					document.getElementById("tot_energia_prec").innerHTML = toLocaleKWh(tot_energia_anno_prec,2);
			});
            
			/*
			CALL DATI CORRISPETTIVI ED ENERGIA -2 ANNI AL CORRENTE
			 */
			
			var anno_ante = anno_prec - 1;
			var url_corrispettvi_anno_ante = '{% url 'api-table-corrispettivi' 'anno_nickname' %}'.replace('anno_nickname', anno_ante + '_' + nickname)
			var tot_incassi_anno_ante = []
			var tot_fatturato_anno_ante = []
			$.get(url_corrispettvi_anno_ante).done(function (DATA) {
					let DATI = DATA.TableCorrispettivi
					let incassi_anno_ante = DATI.map((el, index)=> parseFloat(el.incassi));
                    
					let fatturati = DATI.map((el, index)=> parseFloat(el.fatturazione_tfo + el.fatturazione_non_inc));
					tot_incassi_anno_ante = incassi_anno_ante.reduce((a, b) => a + b, 0)
					tot_fatturato_anno_ante = fatturati.reduce((a, b) => a + b, 0)
					document.getElementById("tot_incassi_ante").innerHTML = toLocaleEUR(tot_incassi_anno_ante,2);
					document.getElementById("tot_fatturato_ante").innerHTML = toLocaleEUR(tot_fatturato_anno_ante,2);
			});
			var url_misure_anno_ante = '{% url 'api-table-misure' 'anno_nickname' %}'.replace('anno_nickname', anno_ante + '_' + nickname)
			var tot_energia_anno_ante = []
			$.get(url_misure_anno_ante).done(function (DATA) {
					let DATI_ante = DATA.TableMisure
					let e_prodotta_anno_ante = DATI_ante.map((el, index)=> parseFloat(el.prodotta_def || 0));
					tot_energia_anno_ante = e_prodotta_anno_ante.reduce((a, b) => a + b, 0)
					document.getElementById("tot_energia_ante").innerHTML = toLocaleKWh(tot_energia_anno_ante,2);
			});
			
			var endpoint = '{% url 'report-impianto-dati' nickname %}';
			
			var chart3 = echarts.init(document.getElementById('chart3'));
			var energie = [];
			var volumi = [];
			var mesi = [];
			var portate_medie = [];
            
			$.get(endpoint).done(function (data) {
					console.log(data);
					mesi = data.mesi;
					energie = data.energie.map(value => value==0 ? '' : value);
					volumi = data.volumi;
					portate_medie = data.portate_medie;
                    
					chart3.setOption({
							legend: {},
							toolbox: {feature: {saveAsImage: {}}},
							tooltip: {trigger: 'axis'},
							xAxis: [{data: mesi, axisTick: {alignWithLabel: true}, axisLabel: {formatter: val => toLocaleDate(val)} }],
							yAxis: [
									{
											type: 'value', name: 'Energia prodotta (kWh)', axisLabel: {formatter: val => toLocale(val,0)}, 
											position:'left',axisLine: {show: true, lineStyle: {color: color_palette[0]}},axisTick: { show: true },
									},
									{
											type: 'value', name: "Volume d'acqua derivato (mc)", nameLocation: 'end',axisTick: { show: true },
											axisLabel: {formatter: val => toLocale(val,0)}, position:'right', axisLine: {show: true, lineStyle: {color: color_palette[2]}},
									},
									{
											type: 'value', name: "Portata media ({{ unita_misura }})", axisLabel: {formatter: val => toLocale(val,0)}, position:'right', 
											offset: 80, axisLine: {show: true, lineStyle: {color: color_palette[5]} },axisTick: { show: true }, nameLocation: 'start',
									},
							],
							series: [
									{
											name: 'Energia prodotta', type: 'bar', xAxisIndex: 0, yAxisIndex: 0, data: energie, symbolSize: 1,
											tooltip: {valueFormatter: value => toLocaleKWh(value,0)}, barWidth: '40%', barCategoryGap: '20%',
											itemStyle: {
													color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
															{offset: 0, color: color_palette[0]},
															{offset: 1, color: color_palette[4]}
													])
											}
									},
                  {
                      name: 'Volume derivato', type: 'bar', xAxisIndex: 0, yAxisIndex: 1, data: volumi, stack: 'Energia prodotta', barWidth: '10%',
		                  tooltip: {valueFormatter: value => toLocale(value,0) + ' mc'},color: color_palette[2], barCategoryGap: '20%',
                  },                 
									{
                      name: 'Portata media', type: 'line', xAxisIndex: 0, yAxisIndex: 2, data: portate_medie,symbolSize: 1,
		                  tooltip: {valueFormatter: value => toLocale(value,2) + ' {{ unita_misura }}'}, lineStyle: { color: color_palette[5] }
                  },
							]
					})
			})
  });
	</script>
	
{% endblock %}




