{% load static %}

{# CICLO SU TUTTI GLI IMPIANTI, CREA LA TABELLA PER OGNI IMPIANTO #}
{% for nickname, impianto in plants_overview.items %}
	<!-- FILTRO IDROELETTRICI -->
	{% if impianto.tipo == 'Idroelettrico' %}
    <!-- LINK ALLA PAGINA DELL'IMPIANTO -->
		<a target="_blank" style="text-decoration: none; padding: 0 5px" href="{% url 'monitoraggio-impianto' nickname %}">
			<!-- CARD-IDRO, SI COLORA DI AZZURRO QUANDO SI FA HOVERING -->
			<div class="card-idro" style="height: 10vh;">
				<!-- CORNERINO COLORATO IN ALTO A DESTRA -->
				<div class="go-corner" style="background-color: #88a7ce;" ><div class="go-arrow">→</div></div>
				<!-- TABELLA, CON I VARI DATI -->
				<table style="color: #283c50; width: 100%; height: 100%">
					<!-- DEFINIZIONE LARGHEZZA COLONNE -->
					<colgroup>
						<col span="1" style="width: 8%;">
						<col span="1" style="width: 18%;">
						<col span="1" style="width: 8%;">
						<col span="1" style="width: 12%;">
				    <col span="1" style="width: 22%;">
				    <col span="1" style="width: 16%;">
				    <col span="1" style="width: 16%;">
					</colgroup>
		      <tbody>
	          <tr style="border-collapse: collapse">
	            <!-- METEO -->
	            <td style="border: none">
		            <div>
			            <img src="{% static 'images/weather_icons/'|add:impianto.curr_icona  %}" alt="weather" style="height: 50px">
		            </div>
		            <div style="margin-top: -5px">
			            <small style="font-size: 12px; color: #939393; margin-left: 10px">{{ impianto.curr_temp }}°C</small>
		            </div>
	            </td>
	            <!-- NOME IMPIANTO -->
	            <td style="padding-left: 10px">
		            <b>{{ impianto.Name }}</b>
	            </td>
	            <!-- LED -->
		          <td>
			          <div class="container-fluid ps-3">
				          <div class="led-box" style="background-color: rgba(255,255,255,0); height: 25px; width: 25px"><div class="{{ impianto.state }}"></div></div>
			          </div>
	            </td>
	            <!-- CHART -->
	            <td style="border: none"><div id="minichart_{{ nickname }}" class="minichartIdro"></div></td>
	            <!-- DATI: POTENZA + ENERGIA -->
		          {# "humanize" serve per FORMATTARE i numeri all'italiana #}
		          {% load humanize %}{% load i18n %}{% load l10n %}
		          {% language 'de' %}
	            <td style="text-align: center">
		            <b>{% if impianto.last_power %}{{ impianto.last_power| floatformat:"0g" }} kW {% else %} - {% endif %} </b>
		            <span style="color: #9f9f9f; font-size: 12px"> / {{ impianto.potenza_installata|floatformat:"2g" }} kW</span>
	            </td>
	            <td style="text-align: center;"><b>{% if impianto.Energy %} {{ impianto.Energy| floatformat:"0g" }} kWh {% else %} - {% endif %} </b></td>
		          {% endlanguage %}
	            <!-- RENDIMENTO -->
	            <td style="text-align: center;"><b>{% if impianto.last_eta %} {% widthratio impianto.last_eta 1 100 %} % {% else %} - {% endif %} </b></td>
	          </tr>
	        </tbody>
				</table>
				<div id="lastT_{{ nickname }}" class="aggiornamento-monitoraggio-card">
					aggiornamento: 
				</div>
			</div>
		</a>
		<!-- JAVASCRIPT PER AGGIORNAMENTO AUTOMATICO DATI, CHART ETC. -->
	  <script>
			  {# NON è PRESENTE UN TIMEOUT PERCHè LA HOMEPAGE DI MONITORAGGIO FA UN REFRESH IN AUTOMATICO #}
	      $(document).ready(function(){
	          /* VARIABILI */
	          let endpoint = '{% url 'api-monitoraggio-impianto' nickname %}';
	          let idMiniChart = 'minichart_'.concat('{{ nickname }}');
	          let idLastT = 'lastT_'.concat('{{ nickname }}');
	          
	          /* ID GRAFICO */
	          let MiniChart = echarts.init(document.getElementById(idMiniChart));
	          window.addEventListener('resize', function() {MiniChart.resize();});
	          
	          /* CHIAMATA AJAX PER I DATI */
	          $.get(endpoint).done(function (data) {
			          let potenza = data.potenza;
			          let timestamps = data.timestamps;
			          let last_index = data.last_index;
			          let last_t = timestamps[last_index];
			          last_t = 'aggiornamento: '.concat(last_t);
			          
			          /* ULTIMO TIMESTAMP */
			          document.getElementById(idLastT).innerHTML = last_t;
			          
			          /* CREA GRAFICO */
			          MiniChart.setOption({
					          color: ['rgb(248,123,104)'],
					          xAxis: [{ data: timestamps, show: false }], 
					          yAxis: {type: 'value', min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }}, offset:80, show: false},
					          grid:[{top:0,bottom:0,right:0,left:0}],
					          series: [{
							          data: potenza, type: 'line', areaStyle: {},showSymbol: false, lineStyle:{width: 1,}
					          }]
			          })
	          })
	      })
	  </script>
	{% endif %}
{% endfor %}

