{% load static %}

<!-- CICLO FOR SU TUTTI GLI IMPIANTI -->
{% for nickname, impianto in plants_overview.items %}
	<!-- FILTRO FOTOVOLTAICI -->
	{% if impianto.tipo == 'Fotovoltaico' %}
		<!-- LINK ALLA PAGINA DELL'IMPIANTO -->
		<a style="text-decoration: none; padding: 0 5px;" href="{% url 'monitoraggio-impianto' nickname %}" target="_blank">
			<!-- CARD-IDRO, SI COLORA DI AZZURRO QUANDO SI FA HOVERING -->
			<div class="card-pv" style="height: 7.5vh">
				<!-- CORNERINO COLORATO IN ALTO A DESTRA -->
				<div class="go-corner" style="background-color: #ded259;"><div class="go-arrow">→</div></div>
					<!-- TABELLA, CON I VARI DATI -->
		      <table style="color: #504828; width: 100%; height: 100%">
		        <!-- DEFINIZIONE LARGHEZZA COLONNE -->
			      <colgroup>
							<col span="1" style="width: 8%;">
							<col span="1" style="width: 18%;">
							<col span="1" style="width: 8%;">
							
							<col span="1" style="width: 12%;">
					    <col span="1" style="width: 22%;">
					    <col span="1" style="width: 16%;">
					    <col span="1" style="width: 16%;">
		        </colgroup>
		        <tbody style="height: 100%">
		          <tr style="border-collapse: collapse; font-size: 14px; height: 100%">
		            <!-- METEO -->
		            <td style="border: none">
			            <img src="{% static 'images/weather_icons/'|add:impianto.curr_icona  %}" alt="weather" style="height: 35px">
			            <div style="margin-top: -10px">
				            <small style="color: #939393; margin-left: 10px">{{ impianto.curr_temp }}°C</small>
			            </div>
		            </td>
		            <!-- NOME IMPIANTO -->
		            <td style="padding-left: 8px">
			            <b>{{ impianto.Name }}</b>
		            </td>
		            <!-- LED -->
			          <td>
				          <div class="container-fluid justify-content-center">
					          <div class="led-box" style="background-color: rgba(255,255,255,0); height: 25px; width: 25px"><div id="Led_{{ nickname }}" class="led-class" ></div></div>
				          </div>
		            </td>
		            <!-- CHART -->
		            <td style="text-align: center; border: none;"><div id="minichart_{{ nickname }}" class="minichartPV"></div></td>
		            <!-- DATI: POTENZA + ENERGIA -->
		            {# "humanize" serve per mettere i numeri all'italiana #}
			          {% load humanize %}{% load i18n %}{% load l10n %}
			          {% language 'de' %}
		            <td style="text-align: center;"><b id="PLast_{{ nickname }}"> - </b><span style="color: #9f9f9f; font-size: 12px"> / {{ impianto.potenza_installata|floatformat:"2g" }} kW</span></td>
			          {% endlanguage %}
								{# IL DATO DI ENERGIA PER IL FOTOVOLTAICO è AGGIORNATO DALLO SCRIPT SOTTO #}
		            <td style="text-align: center;"><b id="Energy_{{ nickname }}"> - </b></td>
			          <!-- RENDIMENTO -->
		            {# RENDIMENTO FOTOVOLTAICO NON è PRESENTE #}
		            <td style="text-align: center;"><b> - </b></td>
		          </tr>
		        </tbody>
		      </table>
				<div id="lastT_{{ nickname }}" class="aggiornamento-monitoraggio-card">
					aggiornamento: 
				</div>
    </div>
  </a>
	<script>
	    $(document).ready(function(){
		      /* VARIABILI */
	        let endpoint = '{% url 'api-monitoraggio-impianto' nickname %}';
	        {# id div GRAFICO #}
			    let idMiniChart = 'minichart_'.concat('{{ nickname }}');
			    {# id div ULTIMO TIMESTAMP #}
	        let idLastT = 'lastT_'.concat('{{ nickname }}');
			    {# id div LED #}
	        let idLed = 'Led_'.concat('{{ nickname }}');
			    {# id div ULTIMO DATO POTENZA #}
	        let idPLast = 'PLast_'.concat('{{ nickname }}');
			    {# id div ENERGIA #}
	        let idEnergy = 'Energy_'.concat('{{ nickname }}');
		      
		      /* ID GRAFICO */
	        let MiniChart_{{ nickname }} = echarts.init(document.getElementById(idMiniChart));
	        window.addEventListener('resize', function() {MiniChart_{{ nickname }}.resize();});
	            
	        /* DEFINIZIONE GRAFICO ECHART */
		      MiniChart_{{ nickname }}.setOption({
		          color: ['rgb(248,123,104)'],
		          xAxis: [{ data: [], show: false }], 
		          yAxis: {type: 'value', min: 0, offset:80, max: {{ impianto.potenza_installata|stringformat:".2f" }}, splitLine: {show: false}, show: false},
		          grid:[{top:0,bottom:0,right:0,left:0}],
		          series: [{
				          data: [], type: 'line', areaStyle: {},showSymbol: false,lineStyle:{width: 1,}
		          }]
	        });
		      
		      /* FUNZIONE DI AGGIORNAMENTO AUTOMATICO PER I DATI */
		      (function ajax_{{ nickname }}() {
				      /* CHIAMATA AJAX PER I DATI */
				      {# endpoint --> MonitoraggioImpianti.APIVIEWS #}
	            $.ajax(endpoint).done(function(data) {
	                let potenza = data.pot;
	                let timestamps = data.time;
	                let last_index = data.k_last;
	                let last_t = timestamps[last_index];
	                let info = data.info;
	                last_t = 'aggiornamento: '.concat(last_t);
	                
	                /* INSERRISCE LED, ULTIMO TIMESTAMP E ENERGIA-GIORNO */
	                document.getElementById(idLed).className = data.led;
	                document.getElementById(idLastT).innerHTML = last_t;
	                if (data.PLast) {document.getElementById(idPLast).innerHTML = toLocale(data.PLast,0) + ' kW'}
	                if (info.energy) {document.getElementById(idEnergy).innerHTML = toLocaleKWh(info.energy,0)}
	
	                /* AGGIORNA IL GRAFICO CON NUOVI DATI */
	                MiniChart_{{ nickname }}.setOption({
	                    xAxis: [{ data: timestamps }],
	                    series: [{
	                        data: potenza,
	                    }]
	                })
	            });
				      /* AGGIORNAMENTO DATI OGNI 5 MINUTI */
				      {# ANCHE SE LA PAGINA FA UN REFRESH IN AUTOMATICO #}
				      setTimeout(ajax_{{ nickname }}, 5*60000);
		      })()
	    })
	  </script>
	{% endif %}
{% endfor %}



