{% load static %}
{% load humanize %}
{% load i18n %}
{% load l10n %}
{% language 'de' %}
	
	<div class="info-energia mb-3">
		<div class="info-icon">
			<img src="{% static 'images/energy-icon.png' %}" alt="weather" style="height: 60px">
		</div>
		<div class="info-number">
			<b> {{ tot_energia| floatformat:"0g" }} kWh </b>
			</div>
		<div class="info-text">
			<span style="color: grey">Energia prodotta</span>
		</div>
	</div>
	
	<div class="info-energia mb-3">
		<div class="info-icon">
			<img src="{% static 'images/co2-icon.png' %}" alt="weather" style="height: 60px">
		</div>
		<div class="info-number">
			<b>{{ co2_kg|floatformat:"0g" }} kg </b>
			</div>
		<div class="info-text">
			<span style="color: grey">C0<sub>2</sub> offset</span>
		</div>
	</div>
	
	<div class="info-energia mb-3">
		<div class="info-icon">
			<img src="{% static 'images/tree-icon.png' %}" alt="weather" style="height: 60px">
		</div>
		<div class="info-number">
			<b>{{ alberi|floatformat:"0g" }} </b>
			</div>
		<div class="info-text">
			<span style="color: grey">Alberi equivalenti</span>
		</div>
	</div>
	
	<div class="info-energia mb-3">
		<div class="info-icon">
			<img src="{% static 'images/houses-icon.png' %}" alt="weather" style="height: 60px">
		</div>
		<div class="info-number">
			<b>{{ case|floatformat:"0g" }}</b>
			</div>
		<div class="info-text">
			<span style="color: grey">Fabbisogno giornaliero</span>
		</div>
	</div>
	
	<div class="info-energia mb-3">
		<div class="info-icon d-flex justify-content-around">
			<img src="{% static 'images/tesla-icon.png' %}" alt="weather" style="height: 40px">
		</div>
		<div class="info-number">
			<b>{{ tesla }}</b>
			</div>
		<div class="info-text">
			<span style="color: grey">Tesla Model Y ricaricate</span>
		</div>
	</div>
{% endlanguage %}