<!-- TABELLA CON LE STESSE DIMENSIONI DELLA TABELLA DI OGNI IMPIANTO -->
<div class="container-fluid" style="padding: 0 5px;">
<table class="table" style="width: 100%; margin: 0;">
	<colgroup>
		<!-- METEO -->
		<col span="1" style="width: 8%;">
		<!-- NOME IMPIANTO -->
		<col span="1" style="width: 18%;">
		<!-- STATO -->
		<col span="1" style="width: 8%;">
		<!-- MINI-CHART -->
		<col span="1" style="width: 12%;">
		<!-- LAST POTENZA -->
    <col span="1" style="width: 22%;">
		<!-- ENERGIA GIORNO -->
    <col span="1" style="width: 16%;">
		<!-- RENDIMENTO -->
    <col span="1" style="width: 16%;">
  </colgroup>
  <thead>
    <tr>
	    <th style="background-color:rgba(0, 0, 0, 0);"></th>
      <th style="text-align: left; background-color:rgba(0, 0, 0, 0);">Impianto</th>
	    <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Stato</th>
	    <th style="text-align: center; background-color:rgba(0, 0, 0, 0);"></th>
      <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Potenza</th>
      <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Energia</th>
	    <th style="text-align: center; background-color:rgba(0, 0, 0, 0);">Rendimento</th>
    </tr>
  </thead>
</table>
</div>