<script>
		$(document).ready(function(){
				/* ids GRAFICO E GAUGES */
				var DayChart = echarts.init(document.getElementById('chart'));
				var gaugePot = echarts.init(document.getElementById('gauge-potenza'));
				var gaugePor = echarts.init(document.getElementById('gauge-portata'));
				var gaugePre = echarts.init(document.getElementById('gauge-pressione'));
				var gaugeRend = echarts.init(document.getElementById('gauge-rendimento'));
                
				/* RESIZING CHARTS */
				window.addEventListener('resize', function() {DayChart.resize();});
				window.addEventListener('resize', function() {gaugePot.resize();});
        window.addEventListener('resize', function() {gaugePor.resize();});
        window.addEventListener('resize', function() {gaugePre.resize();});
        window.addEventListener('resize', function() {gaugeRend.resize();});
				
				/* URL DATI */
				var endpoint = '{% url 'api-monitoraggio-impianto' nickname %}';

				const warmpalette = [
						'rgb(255,227,161)', 'rgb(232,183,20)',
						'rgb(186,164,150)','rgb(116,87,69)',
						'rgb(220,156,191)','rgb(160,27,104)',
						'rgb(255,194,190)','rgb(209,65,36)',
				];
				const coolpalette = [
						'rgb(173,220,145)', 'rgb(31,160,64)',
						'rgb(137,182,181)','rgb(0,114,206)',
						'rgb(37,118,117)','rgb(157,174,204)',
						'rgb(126,183,232)','rgb(37,75,135)',
				];

				const colors = [warmpalette[7],coolpalette[3],warmpalette[2],coolpalette[2]];
				
				/* FUNZIONE AGGIORNAMENTO AGGIORNAMENTO DATI */
        {# CHIAMATA AL TERMINE DEL TIMEOUT #}
        {# OGNI VOLTA CHE VIENE CHIAMATA PRENDE I DATI E RICREA IL GRAFICO #}
        (function worker() {
            /* CHIAMATA AJAX */
						$.get(endpoint).done(function (data) {
								/* VARIABILI */
								let timestamps = data.timestamps;
                let potenza = data.potenza;
	              let portata = data.portata;
	              let last_index = data.last_index;
								let gauges = data.gauges;
								let gauge_pot = gauges.Power;
								let gauge_colors = gauges.colors;
								let gauge_port = gauges.Var2;
								let gauge_pres = gauges.Var3;
								let gauge_eta = gauges.Eta;
								
								/* AGGIORNAMENTO LED IMPIANTO */
								document.getElementById("ledcolor").className = data.led;
								/* AGGIORNAMENTO LED GAUGES */
								document.getElementById("ledcolor_gauge-potenza").className = gauges.leds.Power;
								document.getElementById("ledcolor_gauge-portata").className = gauges.leds.Var2;
								document.getElementById("ledcolor_gauge-pressione").className = gauges.leds.Var3;
								document.getElementById("ledcolor_gauge-rendimento").className = gauges.leds.Eta;
								
								/* CREAZIONE DEL GRAFICO PRINCIPALE */
								DayChart.setOption({
	                  color: colors,
	                  tooltip: {trigger: 'axis'},
	                  toolbox: {right: '15%', top: 0,
							          feature: {
									          dataView: { show: true, readOnly: false },
									          restore: {show: true},
									          saveAsImage: {show: true}
                        }
							      },
	                  dataZoom: [{type: 'inside',show: true, realtime: true, start: 0, end: 100, xAxisIndex: [0,1],height: 60}],
	                  xAxis: [{ data: timestamps }],
                    yAxis: [
                        {
                            type: 'value', name: 'Potenza',
	                          axisLine: {show: true, lineStyle: {color: warmpalette[7],}},
	                          axisLabel: {formatter: '{value} kW'}, min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }}
                        },
	                      {
			                      type: 'value', name: 'Portata',
			                      axisLine: {show: true, lineStyle: {color: coolpalette[7]}},
			                      axisLabel: {formatter: '{value} {{ impianto.unita_misura }}'}, min: 0, max: {{ impianto.Var2_max|stringformat:".2f" }}
	                      },
                    ],
	                  grid:[{top:'7%',bottom:'7%',right:'8%', left:'8%'}],
	                  graphic: [{type: 'group', left: '15%', top: '2.5%',
			                  children: [
					                  {type: 'text', z: 100, 
							                  style: {
									                  fill: '#333', text: 'ultima lettura: '+ timestamps[last_index], fontsize: 9,
							                  },
					                  }
			                  ]
	                   }],
                    series: [
                        {
                            name: 'Potenza', type: 'line', data: potenza,
	                          areaStyle: {
			                          color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
					                          {offset: 0, color: warmpalette[7]},
					                          {offset: 1, color: warmpalette[6]}
			                          ])
	                          },tooltip: {valueFormatter: value => toLocale(value,2) + ' kW'},
	                          xAxisIndex: 0, yAxisIndex: 0, lineStyle: {width: 1,},showSymbol: false
                        },
                        {
                            name: 'Portata', type: 'line', xAxisIndex: 0, yAxisIndex: 1, data: portata,
	                          tooltip: {valueFormatter: value => toLocale(value,2) + ' {{ impianto.unita_misura }}'},
	                          lineStyle: {width: 2,}, emphasis: {focus: 'series'}, showSymbol: false,
	                          markLine: {data: [
                                    {yAxis: {{ QMedia_anno|stringformat:".2f" }}, label: {position:'insideEndTop', backgroundColor: '#efefef', formatter: params => toLocale(params.value,2) + ' {{ impianto.unita_misura }}'}},
					                          {yAxis: {{ QMedia_anno|stringformat:".2f" }}, label: {formatter: 'Portata media anno', position: 'insideStartTop'}}],
	                          },
                        },
                    ]
                 })

								center_position = ['50%','60%'];
								detail_fontsize = 19;
								title_fontsize = 17;

								/* GAUGE POTENZA */
								gaugePot.setOption({
										grid:[{top:'3%',bottom:'3%',right:'3%', left:'3%'}],
			              series: [
	                      {
                            name: 'gauge Potenza', type: 'gauge', radius: '95%', min: 0, max: gauge_pot.MaxScala,
	                          data: [{
			                          name: 'Potenza',
			                          value: Math.round(gauge_pot.last_value),
	                          }],
	                          startAngle: 210, endAngle: -30, axisLabel: {fontSize: 10,}, title: {offsetCenter: [0, '50%'], fontSize: title_fontsize},
			                      pointer: {itemStyle: {color: '#3d3d3d'},length: '95%',width: '3%',},
			                      splitNumber: 8, axisTick: {distance: 3, lineStyle:{width: 1}}, splitLine: {distance: 3,lineStyle:{width: 2}},
			                      axisLine: {
			                          lineStyle: {color: [[gauge_pot.Media - gauge_pot.Dev, '#ff5858'], [gauge_pot.Media + gauge_pot.Dev, '#c9c9c9'], [1, '#8bcfea']]}
	                          },
	                          detail: {offsetCenter: [0, '30%'], fontSize: detail_fontsize,formatter: '{value} kW', color: gauge_colors.Power },
			                      center: center_position,
                        }
			              ]
								})
								/* GAUGE PORTATA */
	              gaugePor.setOption({
			              series:[
	                      {
                            name: 'gauge Portata', type: 'gauge', radius: '95%', min: 0, max: gauge_port.MaxScala,
	                          data: [{
			                          name: 'Portata',
			                          value: Math.round(gauge_port.last_value *10)/10,
	                          }],
	                          startAngle: 210, endAngle: -30, axisLabel: {fontSize: 10,}, title: {offsetCenter: [0, '50%'], fontSize: title_fontsize},
			                      pointer: {itemStyle: {color: '#3d3d3d'}, length: '95%', width: '3%',},
			                      splitNumber: 8, axisTick: {distance: 3, lineStyle:{width: 1}}, splitLine: {distance: 3,lineStyle:{width: 2}},
			                      axisLine: {
			                          lineStyle: {color: [[gauge_port.Media - gauge_port.Dev, '#ff5858'], [gauge_port.Media + gauge_port.Dev, '#c9c9c9'], [1, '#8bcfea']]}
	                          },
	                          detail: {offsetCenter: [0, '30%'], fontSize: detail_fontsize, formatter: '{value} {{impianto.unita_misura}}', color: gauge_colors.Var2},
			                      center: center_position,
                        }
			              ]
	              })
								/* GAUGE PRESSIONE */
	              gaugePre.setOption({
			              series:[
	                      {
                            name: 'gauge Pressione', type: 'gauge', radius: '95%', min: 0, max: gauge_pres.MaxScala,
	                          data: [{
			                          name: 'Pressione',
			                          value: Math.round(gauge_pres.last_value * 10)/10,
	                          }],
	                          startAngle: 210, endAngle: -30, axisLabel: {fontSize: 10,}, title: {offsetCenter: [0, '50%'], fontSize: title_fontsize},
			                      pointer: {itemStyle: {color: '#3d3d3d'},length: '95%',width: '3%',},
			                      splitNumber: 8, axisTick: {distance: 3, lineStyle:{width: 1}}, splitLine: {distance: 3,lineStyle:{width: 2}},
			                      axisLine: {
			                          lineStyle: {color: [[gauge_pres.Media - gauge_pres.Dev , '#ff5858'], [ gauge_pres.Media + gauge_pres.Dev, '#c9c9c9'], [1, '#8bcfea']]}
	                          },
	                          detail: {offsetCenter: [0, '30%'], fontSize: detail_fontsize,formatter: '{value} Bar', color: gauge_colors.Var3},
			                      center: center_position,
	                      }
			              ]
	              })
								/* GAUGE RENDIMENTO */
	              gaugeRend.setOption({
			              series:[
	                      {
                            name: 'gauge Rendimento', type: 'gauge', radius: '95%', min: 0, max: gauge_eta.MaxScala,
	                          data: [{
			                          name: 'Rendimento',
			                          value: Math.round(gauge_eta.last_value * 100 * 100)/100,
	                          }],
	                          startAngle: 210, endAngle: -30, axisLabel: {fontSize: 10,}, title: {offsetCenter: [0, '50%'], fontSize: title_fontsize},
			                      pointer: {itemStyle: {color: '#3d3d3d'}, length: '95%', width: '3%',},
			                      splitNumber: 8, axisTick: {distance: 3, lineStyle:{width: 1}}, splitLine: {distance: 3,lineStyle:{width: 2}},
			                      axisLine: {
			                          lineStyle: {color: [[gauge_eta.Media - gauge_eta.Dev, '#ff5858'], [gauge_eta.Media + gauge_eta.Dev, '#c9c9c9'], [1, '#8bcfea']]}
	                          },
	                          detail: {offsetCenter: [0, '30%'], fontSize: detail_fontsize,formatter: '{value} %',color: gauge_colors.Eta},
			                      center: center_position,
                        },
                    ]
	              });
						})
		        /* AGGIORNAMENTO OGNI 120 SECONDI */
						setTimeout(worker, 120000)
        })();
		})
</script>