{% extends 'base_layout.html' %}
{% load static %}

<!-- REFRESH PAGINA -->
{% block refresh %}
	<meta http-equiv="refresh" content="{{ refresh }}">
{% endblock %}

<!-- TITOLO PAGINA -->
{% block title %}{{ page_title }}{% endblock %}

{% block content %}
	<!-- LAYOUT-GRIGLIA -->
	<main class="home-container">
		
		<!-- SIDE-BAR -->
		<div class="item-c py-3 ps-2 mx-1">
			{% include 'MonitoraggioImpianti/partials/sidebar.html' %}
		</div>
		
		<!-- MAIN -->
		<div class="item-b">
			<div class="container-fluid">
				<!-- ALERT MATEMATICO-DOWN -->
				{% if alarm_matematico %}
					<div class="row pt-2">
					<div class="d-flex justify-content-center">
						<h5 class="alert alert-danger my-0">⚠ ilMatematico scollegato</h5>
					</div>
					</div>
				{% endif %}
				
				<div class="row pt-2 column-gap-2 px-2">
					<!-- SCHEDA IDROELETTRICO -->
					<div class="col monitoraggio-card h-100">
						<!-- RIGA COLROATA IN CIMA ALLA SCHEDA -->
						<div class="row p-0 m-0" style="height: 15px; background: linear-gradient(135deg, #cfe4ff,#6b98ce);"></div>
						<h1 style="color: #4a3c54; margin-left: 20px; font-weight: lighter">Monitoraggio idroelettrico  <img src="{% static 'images/water-drop-icon.png' %}" alt="Impianto idroelettrico" style="height: 35px"></h1>
						<div class="row" style="margin: 10px; border: 0.5px solid lightgrey">
							<!-- TESTA DELLA TABELLA -->
							{% include 'MonitoraggioIMpianti/partials/table_head.html' %}
							<!-- SCHEDA IDROELETTRICI -->
							{% include 'MonitoraggioIMpianti/partials/idro_table.html' %}
						</div>
					</div>					
					<!-- SCHEDA FOTOVOLTAICO -->
					<div class="col monitoraggio-card" style="height: auto">
						<!-- RIGA COLORATA IN CIMA ALLA COLONNA -->
						<div class="row p-0 m-0" style="height: 15px; background: linear-gradient(135deg, #fff7b0, #eee663);"></div>
						<h1 style="color: #4a3c54; margin-left: 20px; font-weight: lighter">Monitoraggio fotovoltaico <img src="{% static 'images/sun-symbol.png' %}" alt="Impianto idroelettrico" style="height: 35px"></h1>
						<div class="row" style="margin: 10px; border: 0.5px solid lightgrey; height: auto">
							<!-- TESTA DELLA TABELLA -->
							{% include 'MonitoraggioIMpianti/partials/table_head.html' %}
							<!-- TABELLA FOTOVOLTAICI -->
							{% include 'MonitoraggioIMpianti/partials/pv_table.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

