{% extends 'base_layout.html' %}
{% load static %}

{% block refresh %}
	<meta http-equiv="refresh" content="{{ refresh }}">
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
	<div class="container-fluid p-2">
		<div class="col p-0 m-0 rounded-3 monitoraggio-card" style="background-color: whitesmoke">
		<!-- BARRA SOPRA COME SFONDO -->
			<div class="row py-1 backgroundBar-pv align-items-end">
				<!-- LED IMPIANTO -->
				<div class="col-1 px-3">
					<div class="led-box"><div id="ledcolor" class="led-class"></div></div>
					<small style="color: grey">stato</small>
				</div>
				<div class="col pb-3 pe-4" style="max-width: 35px">
					<div id="spinner" class="loading"></div>
				</div>
				<div class="col pb-2">
					<small style="color: grey">impianto</small>
					<h1 style="color: #4a3c54; display: inline">{{ impianto.nome_impianto }} </h1>
				</div>
				<div class="col-3 pb-2">
					<small style="color: grey">vedi su</small>
					<a style="text-align: end; color: #6c4d79; font-weight: bolder" target="_blank" href="https://www.isolarcloud.eu/">iSolarCloud</a>
				</div>
			</div>
			
			<!-- GRAFICO -->
			<div class="row px-3 pt-3" style="min-height: 53vh">
					<div id="chart"></div>
			</div>
			
			<div class="row px-2 py-3 justify-content-center">
				<!-- GAUGE POTENZA -->
				<div class="col-5 border-end">
					<div id='gauge-potenza' style="height: 28vh"></div>
				</div>
				<!-- INFO VARIE ENERGIA PRODOTTA -->
				<div class="col-7">
					<div class="row py-3 px-3 justify-content-center">
						<div class="col-4 info-energia mx-3">
							<div class="info-icon">
								<img src="{% static 'images/energy-icon.png' %}" alt="weather" style="height: 60px">
							</div>
							<div class="info-number">
								<b id="energy" style="padding-left: 20px">-</b>
								</div>
							<div class="info-text">
								<span style="color: grey">Energia prodotta</span>
							</div>
						</div>
						<div class="col-4 info-energia mx-3">
							<div class="info-icon">
								<img src="{% static 'images/co2-icon.png' %}" alt="weather" style="height: 60px">
							</div>
							<div class="info-number">
								<b id="co2" style="padding-left: 20px">-</b>
								</div>
							<div class="info-text">
								<span style="color: grey">C0<sub>2</sub> offset</span>
							</div>
						</div>
					</div>
					<div class="row py-3 px-3 justify-content-center">
						<div class="col-4 info-energia mx-3">
							<div class="info-icon">
								<img src="{% static 'images/tree-icon.png' %}" alt="weather" style="height: 60px">
							</div>
							<div class="info-number">
								<b id="alberi" style="padding-left: 20px">-</b>
							</div>
							<div class="info-text">
								<span style="color: grey">Alberi equivalenti</span>
							</div>
						</div>
						<div class="col-4 info-energia mx-3">
							<div class="info-icon">
								<img src="{% static 'images/houses-icon.png' %}" alt="weather" style="height: 60px">
							</div>
							<div class="info-number">
									<b id="case" style="padding-left: 20px">-</b>
								</div>
							<div class="info-text">
								<span style="color: grey">Fabbisogno giornaliero</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- CODICE JAVASCRIPT PER IL GRAFICO E I GAUGE -->
	{% include 'js/MonitoraggioImpianti/monitoraggio_fotovoltaico_js.html' %}
{% endblock %}



