{% extends 'base_layout.html' %}
{% load static %}

{% block refresh %}
	<meta http-equiv="refresh" content="{{ refresh }}">
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block extra_css %}
	<!-- CSS BATTERIA -->
	<link rel="stylesheet" href="{% static 'css/style_battery.css' %}">
{% endblock %}

{% block content %}
	<div class="container-fluid p-2">
	<div class="col rounded-3 monitoraggio-card p-0 m-0" style="background-color: whitesmoke">
		<!-- BARRA SOPRA COME SFONDO -->
		<div class="row py-1 backgroundBar-zilio align-items-end" style="color: whitesmoke">
			<!-- LED IMPIANTO -->
			<div class="col-1 px-3">
				<div class="led-box"><div id="ledcolor" class="led-class"></div></div>
				<small>stato</small>
			</div>
			<div class="col pb-3 pe-4" style="max-width: 35px">
				<div id="spinner" class="loading"></div>
			</div>
			<div class="col pb-2">
				<small>impianto</small>
				<h1 style="color: #ddd1e5; display: inline">{{ impianto.nome_impianto }}</h1>
			</div>
			<div class="col-3 pb-2">
				<small>vedi su</small>
				<a style="text-align: end; color: #ddd1e5; font-weight: bolder" target="_blank" href="https://myleonardo.western.it/it/home/">MyLeonardo</a>
			</div>
		</div>
	
		<!-- GRAFICO -->
		<div class="row px-3 pt-3" style="min-height: 60vh;">
			<div id="chart"></div>
		</div>
	
		<div class="row py-3 justify-content-center align-items-center ">
			<!-- GAUGE POTENZA -->
			<div class="col">
				<div id='gauge-potenza' style="height: 23vh"></div>
			</div>
			<!-- GAUGE POTENZA -->
			<div class="col">
				<div id='gauge-consumo' style="height: 23vh"></div>
			</div>
			<!-- GAUGE RETE -->
			<div class="col">
				<div id='gauge-rete' style="height: 23vh"></div>
			</div>
			<!-- SEZIONE BESS -->
			<div class="col-3 border rounded-2" style="background-color: #eeeeee">
				<div class="row">
					<p style="font-size: 18px; font-weight: bolder; text-align: center">Battery Energy Storage System - ZILIO</p>
				</div>
				<div class="row">
					<!-- LIVELLO BATTERIA -->
					<div class="col">
						<div class="graphic-wrapper">
							<!-- CLASSE CHE IDENTIFICA I LIVELLI DELLA BATTERIA DA lvl0 a lvl5 -->
							<div id="BESS-level" class="battery-icon_wrapper lvl0">
						    <div class="battery-icon_ind"></div>
						    <div class="battery-icon_ind"></div>
						    <div class="battery-icon_ind"></div>
						    <div class="battery-icon_ind"></div>
						    <div class="battery-icon_ind"></div>
							</div>
						</div>
						<!-- PERCENTUALE BATTERIA -->
						<div class="procent-wrapper">
						  <p id="BESS-level-text" style="font-weight: bolder"></p>
						</div>
					</div>
					<!-- GAUGE CARICO BATTERIA -->
					<div class="col-8">
						<div id='gauge-BESS' style="height: 100%"></div>
					</div>
				</div>
			</div>
			<!-- INFO VARIE ENERGIA PRODOTTA -->
			<div class="col" style="min-width: 30%;">
				<div class="row p-2 justify-content-center">
					<div class="col info-energia mx-3">
						<div class="info-icon">
							<img src="{% static 'images/energy-icon.png' %}" alt="weather" style="height: 60px">
						</div>
						<div class="info-number">
							<b id="energy" style="padding-left: 20px">-</b>
							</div>
						<div class="info-text">
							<span style="color: grey">Energia prodotta</span>
						</div>
					</div>
					<div class="col info-energia mx-3">
						<div class="info-icon">
							<img src="{% static 'images/co2-icon.png' %}" alt="weather" style="height: 60px">
						</div>
						<div class="info-number">
							<b id="co2" style="padding-left: 20px">-</b>
							</div>
						<div class="info-text">
							<span style="color: grey">C0<sub>2</sub> offset</span>
						</div>
					</div>
				</div>
				<div class="row p-2 justify-content-center">
					<div class="col info-energia mx-3">
						<div class="info-icon">
							<img src="{% static 'images/tree-icon.png' %}" alt="weather" style="height: 60px">
						</div>
						<div class="info-number">
							<b id="alberi" style="padding-left: 20px">-</b>
						</div>
						<div class="info-text">
							<span style="color: grey">Alberi equivalenti</span>
						</div>
					</div>
					<div class="col info-energia mx-3">
						<div class="info-icon">
							<img src="{% static 'images/houses-icon.png' %}" alt="weather" style="height: 60px">
						</div>
						<div class="info-number">
								<b id="case" style="padding-left: 20px">-</b>
							</div>
						<div class="info-text">
							<span style="color: grey">Fabbisogno giornaliero</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	
	<!-- CODICE JAVASCRIPT PER IL GRAFICO E I GAUGE -->
	<script>
			$(document).ready(function(){
                
					/* IDS GRAFICO E GAUGES */
					var DayChart = echarts.init(document.getElementById('chart'));
					var gaugePot = echarts.init(document.getElementById('gauge-potenza'));
					var gaugeConsumo = echarts.init(document.getElementById('gauge-consumo'));
					var gaugeRete = echarts.init(document.getElementById('gauge-rete'));
					var gaugeBESS = echarts.init(document.getElementById('gauge-BESS'));
					
					/* RESIZING CHARTS */
					window.addEventListener('resize', function() {DayChart.resize();});
					window.addEventListener('resize', function() {gaugePot.resize();});
					window.addEventListener('resize', function() {gaugeConsumo.resize();});
					window.addEventListener('resize', function() {gaugeRete.resize();});
					window.addEventListener('resize', function() {gaugeBESS.resize();});
					
					/* URL DATI */
					var endpoint = '{% url 'api-monitoraggio-impianto' nickname %}';
                    
					/* CREO ARRAY DI TIMESTAMPO DA 00:00 A 23:59 OGNI 5 MINUTI */
					var timeLabels = [];
					for (var hour = 0; hour < 24; hour++) {
							for (var minute = 0; minute < 60; minute += 5) {
									timeLabels.push(('0' + hour).slice(-2) + ':' + ('0' + minute).slice(-2));
							}
					}
					
					/* COLORI PER I GRAFICI */	
					const colors = ['rgb(37,75,135)', 'rgb(209,65,36)','rgb(231,221,73)', 'rgb(231,38,38)'];
					
					/* CREAZIONE DEL GRAFICO PRINCIPALE 
					* 4 GRAFICI, 1 PRINCIPALE E 3 A FIANCO
					*/
					DayChart.setOption({
							color: colors,
							visualMap: [
									{
											type: 'continuous', min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }},
											inRange: {
													color: ['rgb(255,194,190)','rgb(209,65,36)','#171717'],
											},show: false, seriesIndex: 1
									}
							],
							tooltip: {trigger: 'axis'},
							toolbox: {show:false,},
							title: [
									{text: 'Potenza impianto', left:'30%', textAlign: 'center'},
									{text: 'Consumi elettrici', left:'80%', textAlign: 'center', textStyle: {fontSize: 15,}},
									{text: 'Prelievi(-)/Immissioni(+) di rete', left:'80%', top: '33%', textAlign: 'center', textStyle: {fontSize: 15,}},
									{text: 'Carica(+)/Scarica(-) Batteria', left:'80%', top: '63%', textAlign: 'center', textStyle: {fontSize: 15,}},
								  ],
							grid:[
									/* GRAFICO PRINCIPALE */
			            {top: '7%', bottom: '5%', left: '4%', width: '50%'},
									/* CONSUMI */
			            {left: '60%', right: '3%', top: '8%', bottom: '69%'},
									/* RETE */
									{left: '60%', right: '3%', top: '39%', bottom: '38%'},
									/* BATTERIA */
									{left: '60%', right: '3%', top: '70%', bottom: '5%'},
	            ],
	            xAxis: [
			            {
			                data: timeLabels, 
			                gridIndex: 0,
			                axisLabel: {
			                    rotate: 45,
			                    fontSize: 10
			                }
			            },
			            {
			                data: timeLabels, 
			                gridIndex: 1,
			                axisTick: {show: false}, 
			                axisLabel: {show:false}
			            },
			            {
			                data: timeLabels, 
			                gridIndex: 2, 
			                axisTick: {show: false}, 
			                axisLabel: {show:false}
			            },
			            {
			                data: timeLabels, 
			                gridIndex: 3,
			                axisLabel: {
			                    rotate: 45,
			                    fontSize: 10
			                }
			            }
			        ],
							yAxis: [
	                {
	                    type: 'value', gridIndex: 0,
	                    axisLine: {show: true,},
	                    axisLabel: {formatter: '{value} kW'}, 
			                min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }}
	                },
									{
	                    type: 'value', gridIndex: 1,
	                    axisLine: {show: true,},splitNumber: 3,
	                    axisLabel: {formatter: '{value} kW'}, 
			                {#min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }}#}
	                },
									{
	                    type: 'value', gridIndex: 2,
	                    axisLine: {show: true,},splitNumber: 3,
	                    axisLabel: {formatter: '{value} kW'}, 
			                {#min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }}#}
	                },
									{
	                    type: 'value', gridIndex: 3,
	                    axisLine: {show: true,},splitNumber: 3,
	                    axisLabel: {formatter: '{value} kW'}, 
			                {#min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }}#}
	                },
	            ],
	            series: [
                    /* GRAFICO PRINCIPALE POTENZA */
			            {
	                    name: 'Consumi elettrici', type: 'line', data: [0], tooltip: {valueFormatter: value => toLocale(value,2) + ' kW'},
	                    lineStyle: {width: 0},showSymbol: false, xAxisIndex: 1, yAxisIndex: 1,
					            areaStyle: {},
	                },
			            /* CONSUMI */
	                {
	                    name: 'Potenza Impianto', type: 'line', data: [0], 
	                    areaStyle: {},tooltip: {valueFormatter: value => toLocale(value,2) + ' kW'},
	                    lineStyle: {width: 0, },showSymbol: false, xAxisIndex: 0, yAxisIndex: 0,
	                },
			            /* RETE */
			            {
	                    name: 'Carica(+)/Scarica(-) Batteria', type: 'line', data: [0],
	                    areaStyle: {},tooltip: {valueFormatter: value => toLocale(value,2) + ' kW'},
	                    lineStyle: {width: 0 },showSymbol: false, xAxisIndex: 3, yAxisIndex: 3,
	                },
			            /* BATTERIA */
			            {
	                    name: 'Prelievi(-)/Immissioni(+) di rete', type: 'line', data: [0],
	                    areaStyle: {},tooltip: {valueFormatter: value => toLocale(value,2) + ' kW'},
	                    lineStyle: {width: 0 },showSymbol: false, xAxisIndex: 2, yAxisIndex: 2,
	                },
	            ]
	         });
					
					/* CREAZIONE GAUGE POTENZA */
					options1 = {
							grid:[{top:'3%',bottom:'3%',right:'3%', left:'3%'}],
		          series: [
		              {
		                  name: 'gauge Potenza', type: 'gauge', radius: '110%', min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }},
		                  data: [{name: 'Potenza',}],
			                axisLine: {lineStyle: {width: 12,},roundCap: true, },
		                  progress: {show: true, color: {type:'linear'}, width: 12, roundCap: true,},
		                  startAngle: 210, endAngle: -30, axisLabel: {fontSize: 10, distance: 20, formatter: value => toLocale(value,0)}, 
			                title: {offsetCenter: [0, '50%'], fontSize: 20},
		                  pointer: {show: false},
		                  splitNumber: 8, axisTick: {distance: 4, lineStyle:{width: 1}}, splitLine: {distance: 5,lineStyle:{width: 2}},
		                  detail: {offsetCenter: [0, 0], fontSize: 22, formatter: value => toLocale(value,2) +' kW' },
		                  center: ['50%','60%'],
		              }
		          ]
          }
          gaugePot.setOption(options1);
					gaugeConsumo.setOption(options1);
                    
					options2 = {
							grid:[{top:'3%',bottom:'3%',right:'7%', left:'7%'}],
		          series: [
		              {
		                  name: 'gauge Potenza', type: 'gauge', radius: '100%', min: -15, max: 15,
		                  data: [{
		                      name: 'Carico Batteria',
		                  }],
				              pointer: {
						              icon: 'path://M2090.36389,615.30999 L2090.36389,615.30999 C2091.48372,615.30999 2092.40383,616.194028 2092.44859,617.312956 L2096.90698,728.755929 C2097.05155,732.369577 2094.2393,735.416212 2090.62566,735.56078 C2090.53845,735.564269 2090.45117,735.566014 2090.36389,735.566014 L2090.36389,735.566014 C2086.74736,735.566014 2083.81557,732.63423 2083.81557,729.017692 C2083.81557,728.930412 2083.81732,728.84314 2083.82081,728.755929 L2088.2792,617.312956 C2088.32396,616.194028 2089.24407,615.30999 2090.36389,615.30999 Z', 
						              length: '90%', width: 13, 
						              offsetCenter: [0, '5%']
				              },
			                axisLine: {lineStyle: {width: 10, color: [[0.5,'#f39f63'], [1,'#65a64b']]}, roundCap: false,},
				              axisLabel: {color: '#464646', fontSize: 15, distance: -30, rotate: 'tangential',
									        formatter: function (value) {
											        if (value === 7.5) {
													        return 'Carica';
											        } else if (value === -7.5) {
                                  return 'Scarica';
                              }
											        return '';
									         }
								      },
		                  progress: {show: false,}, startAngle: 210, endAngle: -30, title: {offsetCenter: [0, '60%'], fontSize: 18}, 
				              splitNumber: 8,axisTick: {distance: 2, lineStyle:{width: 1}}, splitLine: {distance: 5,lineStyle:{width: 2}},
		                  detail: {offsetCenter: [0, '35%'], fontSize: 20, formatter: value => toLocale(value,2) +' kW' },
		                  center: ['50%','60%'],
		              }
		          ]
					}
					gaugeBESS.setOption(options2);
					gaugeRete.setOption(options2);
					gaugeRete.setOption({
							series: [
                  {
		                  axisLine: {lineStyle: {width: 10, color: [[0.5,'#f36863'], [1,'#4b83a6']]}, roundCap: false,},
		                  axisLabel: {color: '#464646', fontSize: 15, distance: -30, rotate: 'tangential', 
				                  formatter: function (value) {
											        if (value === 7.5) {
													        return 'Immissione';
											        } else if (value === -7.5) {
                                  return 'Prelievo';
                              }
											        return '';
									        }
		                  },
                  }
							]

					});
	                
					/* FUNZIONE AGGIORNAMENTO AGGIORNAMENTO DATI */
	       
					(function worker() {
							/* CHIAMATA AJAX */
	            
							$.get(endpoint, {view_impianto: true}).done(function (data) {
									/* VARIABILI */
									let timestamps = data.time;
	                let potenza = data.pot;
									let bess = data.bess;
									let consumi = data.consumi;
									let rete = data.rete;
									let PLast = data.PLast;
									let ConsumoLast = data.ConsumoLast
									let GridLast = data.GridLast
									let BESSLast = data.BESSLast;
									let SoC = data.BESSSoC;
									let info = data.info;
									let bess_class = '';
									
									/* AGGIORNAMENTO LED IMPIANTO */
									document.getElementById('ledcolor').className = data.led;
									
									/* AGGIORNAMENTO INFO */
									document.getElementById('energy').innerHTML = toLocaleKWh(info.energy, 2);
									document.getElementById('co2').innerHTML = toLocale(info.co2, 2) + ' kg';
									document.getElementById('case').innerHTML = toLocale(info.case);
									document.getElementById('alberi').innerHTML = toLocale(info.alberi);
									
									/*AGGIORNAMENTO BESS */
									if (parseFloat(SoC)<=20) {
                      bess_class = 'battery-icon_wrapper lvl1';
                  }
									else if (parseFloat(SoC)<=40) {
											bess_class = 'battery-icon_wrapper lvl2';
									}
									else if (parseFloat(SoC)<=60) {
											bess_class = 'battery-icon_wrapper lvl3';
									}
									else if (parseFloat(SoC)<=80) {
											bess_class = 'battery-icon_wrapper lvl4';
									}
									else if (parseFloat(SoC)<=100) {
											bess_class = 'battery-icon_wrapper lvl5';
									}
									else {
											bess_class = 'battery-icon_wrapper lvl0'
									}
									document.getElementById('BESS-level').className = bess_class;
									document.getElementById('BESS-level-text').innerHTML = toLocale(SoC) +' %';
									
									/* VERIFICA DEL FORMATO TIMESTAMP */
									console.log("Timestamp ricevuti:", timestamps);
									
									/* NORMALIZZAZIONE DEI DATI CON CORREZIONE DELL'ORARIO */
									let normalizedPotenza = new Array(timeLabels.length).fill(0);
									let normalizedBess = new Array(timeLabels.length).fill(0);
									let normalizedConsumi = new Array(timeLabels.length).fill(0);
									let normalizedRete = new Array(timeLabels.length).fill(0);
									
									// Determina se è necessario un offset di fuso orario
									// Puoi impostare questo valore in base alla tua situazione
									const timeOffsetHours = 0; // Cambia a 1, 2, ecc. se necessario
									const timeOffsetMinutes = 0; // Aggiunge minuti all'offset se necessario
									
									// Aggiungi controllo di esistenza dati prima di processarli
									if (timestamps && timestamps.length > 0) {
											for (let i = 0; i < timestamps.length; i++) {
													if (timestamps[i]) {  // Verifica che il timestamp esista
															let time = timestamps[i];
															let timeParts = time.split(':');
															
															if (timeParts.length >= 2) {
																	let hour = parseInt(timeParts[0]);
																	let minute = parseInt(timeParts[1]);
																	
																	// Applica l'offset e gestisci il wraparound (ritorno a 0 dopo 23)
																	hour = (hour + timeOffsetHours) % 24;
																	minute = (minute + timeOffsetMinutes) % 60;
																	
																	// Arrotonda al più vicino intervallo di 5 minuti
																	minute = Math.floor(minute / 5) * 5;
																	
																	// Calcoliamo l'indice corretto per l'intervallo di 5 minuti
																	let index = (hour * 12) + (minute / 5);
																	
																	if (index >= 0 && index < timeLabels.length) {
																			normalizedPotenza[index] = potenza[i] !== undefined ? potenza[i] : 0;
																			normalizedBess[index] = bess[i] !== undefined ? bess[i] : 0;
																			normalizedConsumi[index] = consumi[i] !== undefined ? consumi[i] : 0;
																			normalizedRete[index] = rete[i] !== undefined ? rete[i] : 0;
																	}
															}
													}
											}
									}
									
									/* AGGIORNO DATI */
	                DayChart.setOption({
			                /* NON AGGIORNIAMO PIÙ I TIMESTAMPS PERCHÉ SONO FISSI */
		                  series: [
			                    {data: normalizedConsumi, name: 'Consumi elettrici', xAxisIndex: 1, yAxisIndex: 1,},
			                    {data: normalizedPotenza, name: 'Potenza Impianto', xAxisIndex: 0, yAxisIndex: 0,},
			                    {data: normalizedBess, name: 'Carica/Scarica Batteria', xAxisIndex: 3, yAxisIndex: 3,},
			                    {data: normalizedRete, name: 'Prelievi/Immissioni rete elettrica', xAxisIndex: 2, yAxisIndex: 2,},
		                  ]
	                })
									
									/* AGGIORNO I DATI CON ULTIMI DATI */
									gaugePot.setOption({
				              series: [{
						              data: [{value: PLast, name: 'Potenza'}],}]
									})
									
									gaugeConsumo.setOption({
				              series: [{
						              data: [{value: ConsumoLast, name: 'Consumi'}],}]
									})
									
									gaugeRete.setOption({
				              series: [{
						              data: [{value: GridLast, name: 'Carico Rete'}],
				              }]
									})
									
									gaugeBESS.setOption({
				              series: [{
						              data: [{value: BESSLast, name: 'Carico Batteria'}],
				              }]
									})
							})
							/* AGGIORNAMENTO OGNI 300 SECONDI (5 MINUTI) */
							setTimeout(worker, 300000)
					})();
			})
	</script>
{% endblock %}


