<script>
		$(document).ready(function(){
            
				/* IDS GRAFICO E GAUGES */
				var DayChart = echarts.init(document.getElementById('chart'));
				var gaugePot = echarts.init(document.getElementById('gauge-potenza'));
				
				/* RESIZING CHARTS */
				window.addEventListener('resize', function() {DayChart.resize();});
				window.addEventListener('resize', function() {gaugePot.resize();});
				
				/* URL DATI */
				var endpoint = '{% url 'api-monitoraggio-impianto' nickname %}';
                
				const warmpalette = [
						'rgb(255,227,161)', 'rgb(232,183,20)',
						'rgb(180,152,133)','rgb(116,87,69)',
						'rgb(220,156,191)','rgb(160,27,104)',
						'rgb(255,194,190)','rgb(209,65,36)',
				];
				
				/* CREAZIONE DEL GRAFICO PRINCIPALE */
				DayChart.setOption({
						visualMap: [
								{
										type: 'continuous', min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }},
										inRange: {
												color: ['rgb(255,194,190)','rgb(209,65,36)','#171717'],
										},show: false,
								},
						],
						title: [{text: 'Potenza impianto', left:'50%', textAlign: 'center'}],
            tooltip: {trigger: 'axis'},
            toolbox: {right: '10%', top: 0,
			          feature: {
					          dataView: { show: true, readOnly: false },
					          restore: {show: true},
					          saveAsImage: {show: true}
                }
			      },
            dataZoom: [{type: 'inside',show: true, realtime: true, start: 0, end: 100, xAxisIndex: [0,1],height: 60}],
            xAxis: [{ data: ['00:00']},],
						yAxis: [
                {
                    type: 'value', name: 'Potenza',
                    axisLine: {show: true, lineStyle: {color: warmpalette[7],}},
                    axisLabel: {formatter: '{value} kW'}, min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }}
                },
            ],
            grid:[{top:'7%',bottom:'5%',right:'8%', left:'8%'}],
            series: [
                {
                    name: 'Potenza', type: 'line', data: [0],
                    areaStyle: {opacity: 0.9,},tooltip: {valueFormatter: value => toLocale(value,2) + ' kW'},
                    xAxisIndex: 0, yAxisIndex: 0, lineStyle: {width: 1},showSymbol: false
                },
            ]
         });
				
				/* CREAZIONE GAUGE POTENZA */
				gaugePot.setOption({
						grid:[{top:'3%',bottom:'3%',right:'3%', left:'3%'}],
            series: [
                {
                    name: 'gauge Potenza', type: 'gauge', radius: '110%', min: 0, max: {{ impianto.potenza_installata|stringformat:".2f" }},
                    data: [{
                        name: 'Potenza', value: 0,
                    }],
		                axisLine: {lineStyle: {width: 15,},roundCap: true, },
                    progress: {show: true, color: {type:'linear'}, width: 15, roundCap: true,},
                    startAngle: 210, endAngle: -30, axisLabel: {fontSize: 12, distance: 25, formatter: value => toLocale(value,0)}, 
		                title: {offsetCenter: [0, '50%'], fontSize: 18},
                    pointer: {show: false},
                    splitNumber: 8, axisTick: {distance: 4, lineStyle:{width: 1}}, splitLine: {distance: 5,lineStyle:{width: 2}},
                    detail: {offsetCenter: [0, 0], fontSize: 25, formatter: value => toLocale(value,0) +' kW' },
                    center: ['50%','60%'],
                }
            ]
				});
                
				/* FUNZIONE AGGIORNAMENTO AGGIORNAMENTO DATI */
        {# CHIAMATA AL TERMINE DEL TIMEOUT #}
        {# OGNI VOLTA CHE VIENE CHIAMATA PRENDE I DATI E RICREA IL GRAFICO #}
				(function worker() {
						/* CHIAMATA AJAX */
            {# AGGIUNTA QUERY PARAMETER NELLA CHIAMATA PER IDENTIFICARE CHE SI TRATTA DELLA PAGINA DELL'IMPIANTO #}
						$.get(endpoint).done(function (data) {
								/* VARIABILI */
								let timestamps = data.time;
                let potenza = data.pot;
	              let t_last = data.t_last;
								let PLast = data.PLast;
								let info = data.info;
								
								/* AGGIORNAMENTO LED IMPIANTO */
								document.getElementById('ledcolor').className = data.led;
								/* AGGIORNAMENTO INFO */
								document.getElementById('energy').innerHTML = toLocaleKWh(info.energy, 2);
								document.getElementById('co2').innerHTML = toLocale(info.co2, 2) + ' kg';
								document.getElementById('case').innerHTML = toLocale(info.case);
								document.getElementById('alberi').innerHTML = toLocale(info.alberi);

                /* AGGIORNAMENTO DATI GRAFICO CON I TIMESTAMPS E LE LINEE DI POTENZA */
								DayChart.setOption({
	                  xAxis: [{ data: timestamps }],
                    series: [{data: potenza, name: 'Potenza'},]
                })

								/* AGGIORNAMENTO GAUGE */
								gaugePot.setOption({
			              series: [{
					              data: [{value: PLast, name: 'Potenza'}],}]
								})
						})
						/* AGGIORNAMENTO OGNI 120 SECONDI */
						setTimeout(worker, 60000*5)
				})();
		})
</script>