<table id="table2_{{ anno }}" class="display compact" style="width:100%;">
  <thead>
    <tr data-dt-order="disable">
      <th rowspan="2">n.</th>
      <th rowspan="2" data-dt-order="disable"> Mese </th>
      <th colspan="3" data-dt-order="disable" style="text-align: center" > Misure campo (kWh) </th>
      <th colspan="3" data-dt-order="disable" style="text-align: center"> Misure e-Dist (kWh) </th>
      <th colspan="2" data-dt-order="disable" style="text-align: center"> Misure GSE (kWh) </th>
      <th rowspan="2" data-dt-order="disable" style="text-align: center; width: 25%"> Controllo misure</th>
	    <th rowspan="2"></th>
	    <th rowspan="2"></th>
    </tr>
    <tr data-dt-order="disable">
      <th>prodotta</th>
      <th>immessa</th>
      <th>prelevata</th>
      <th>prodotta</th>
      <th>immessa</th>
      <th>prelevata</th>
      <th>prodotta</th>
      <th>immessa</th>
    </tr>
  </thead>
  <tfoot>
		<tr>
			<td></td>
			<td><b>Anno</b></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="3"><sup>*</sup><i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;<i>Delta percuentuale di produzione</i></td>
			<td></td>
			<td colspan="3"><sup>*</sup><i class="fa fa-share" aria-hidden="true" ></i>&nbsp;<i>Delta percuentuale di immissione</i></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
  </tfoot>
</table>