<table id="table1_{{ anno }}" class="display compact" style="width:100%; ">
	<thead>
		<tr data-dt-order="disable">
			<th rowspan="2">n.</th>
      <th rowspan="2" > Mese </th>
      <th rowspan="2" style="text-align: center" > <i class="fa fa-bolt" aria-hidden="true"></i>&nbsp;Energia<sup>*</sup> (kWh) </th>
      <th colspan="2" style="text-align: center" > <i class="fa fa-line-chart" aria-hidden="true"></i>&nbsp;Corrispettivi </th>
      <th colspan="2" style="text-align: center" > <i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;Fatturazione </th>
      <th rowspan="2" style="text-align: center" > <i class="fa fa-eur" aria-hidden="true"></i>&nbsp;Incassi </th>
      <th rowspan="2" colspan="2" style="text-align: center" > <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Controllo<sup>***</sup> </th>
    </tr>
    <tr data-dt-order="disable">
      <th style="text-align: center" >Incentivo</th>
      <th style="text-align: center" > - </th>
      <th style="text-align: center" > TFO<sup>**</sup></th>
      <th style="text-align: center" > - </th>
    </tr>
  </thead>
	<tfoot>
	<tr>
		<td></td>
		<td><b>Anno</b></td>
		<td style="text-align: center" ></td>
		<td style="text-align: center" ></td>
		<td style="text-align: center" ></td>
		<td style="text-align: center" ></td>
		<td style="text-align: center" ></td>
		<td style="text-align: center" ></td>
		<td style="text-align: center" ></td>
	</tr>
	<tr>
		<td></td>
    <td colspan="2"><sup>*</sup>Energia incentivata </td>
		<td colspan="2"><sup>**</sup>Tariffa Fissa Omnicomprensiva</td>
    <td colspan="4"><sup>***</sup>Scarto e variazione percentuale tra "Corrispettivi" e "Fatturazione"</td>
		<td></td>
		<td></td>
	</tr>
	</tfoot>
</table>