<script>
		$(document).ready(function(){
				
				let alarm_color = [
						'rgb(255,0,0)', 
						'rgb(219,87,60)', 
						'rgb(226,150,67)',
				];
				
				// API CALL DATI TABELLA 2 - DEFINIZIONE TABELLA 2 (MISURE)
				$.ajax({
					'url': url_misure, 
					'method': "GET",
					'cache': false,
					'contentType': 'application/json'
				}).done( function(DATA) {
						console.log(url_misure)
						let DATI_TABELLA2 = DATA.TableMisure
						
						// DEFINIZIONE E FORMATTAZIONE TABELLA 2 (MISURE)
						var tabella = $('#table2_{{ anno }}').DataTable({
								destroy: true, searching: false, paging: false, info : false,
								data: DATI_TABELLA2, 
								columns: [
										{ data: 'i' }, 
										{ data: 'mese' }, 
										{ data: 'prodotta_campo' }, 
										{ data: 'immessa_campo' }, 
										{ data: 'prelevata_campo' }, 
										{ data: 'prodotta_ed' }, 
										{ data: 'immessa_ed' }, 
										{ data: 'prelevata_ed' }, 
										{ data: 'prodotta_gse' }, 
										{ data: 'immessa_gse' },
										{ data: 'check_misure' },
										{ data: 'comments' },
										{ // DEFINISCO LA COLONNA CON LE CELLE DA CLICCARE PER ESPANDERE LA RIGA DEI COMMENTI E DELLO STATUS
												className: 'details-control', // NOME DELLA CLASSE VIENE USATO PER RICHIAMARE LA RIGA DA ESPANDERE
												orderable: false, 
												data: null, 
												defaultContent: '<i class="fa fa-commenting-o" aria-hidden="true"></i>'
										},
								], 
								columnDefs: [{defaultContent: "-", targets: '_all'},{ targets: [2,3,4,5,6,7,8,9], className: 'text-center' }, 
										{target: [0], visible: false}, {targets:[5,6,7], className: 'cell-background-color-blue'},{targets:[8,9], className: 'cell-background-color-red'},
										{targets: [2,3,4,5,6,7,8,9], 
												render: function ( data, type, row, meta ) {
														return data === ''? '-':  DataTable.render.number(null, null, 0,).display(data)
												}
										},
										// FORMATTAZIONE COLONNA ICONA STATO COMMENTO
	                  {target: 11,
	                      render: function (data, type, row, meta) {
	                          if (row.comments === '') { 
	                              return '<i class="fa fa-circle-thin" aria-hidden="true"></i>'
	                          }
	                          if (row.comments !== '') {
	                              let stato = row.comments.split('&')[1];
	                              if (stato === 'empty') {var icona = '<i class="fa fa-circle-thin" aria-hidden="true"></i>'}
	                              if (stato === 'ok') {var icona = '<i class="fa fa-circle" aria-hidden="true" style="color: rgb(126,166,138)"></i>'}
																if (stato === 'standby') {var icona = '<i class="fa fa-circle" aria-hidden="true" style="color: rgb(229,199,51)"></i>'}
																if (stato === 'alarm') {var icona = '<i class="fa fa-circle" aria-hidden="true" style="color: rgb(225,66,61)"></i>'}
	                              return icona
	                          }
	                      }
	                  },
										{ // FORMATTAZIONE COLONNA CONTROLLO MISURE 
												target: 10,
												render: function (data, type, row, meta) {
														// SE MANCA LA MISURA
														if (data === 'misure') {
																return '<span style="color: red"> Inserire misure </span>';
														}
														// FORMATTAZIONE CHECK DELLE MISURE
	                          else {
																// SEPARO I LA STRINGA DI DATI CONTENENTE I VARI DELTA (prodotta/immessa, GSE/e-D)
																/* esempio:
																data = '0.01_0.23_3.45_0.12'
																data.split('_') => [0.01, 0.23, 3.45, 0.12]
																0.01 => DELTA_PRODOTTA(CAMPO,GSE) 
																0.23 => DELTA_PRODOTTA(CAMPO,e-D)
																3.45 => DELTA_IMMESSA(CAMPO,GSE)
																0.12 => DELTA_IMMESSA(CAMPO,e-D)
																*/
																data = data.split('_');
																color0 = color1 = color2 = color3 = 'rgb(153,153,153)';
																red = alarm_color[0];
																text1_GSE = text2_GSE = text1_eD = text2_eD = '';
																triangoletto = '<i class="fa fa-angle-double-right" aria-hidden="true" style="padding-right: 10px"></i>';
																prod = '<i class="fa fa-bolt" aria-hidden="true"></i>';
																imm = '<i class="fa fa-share" aria-hidden="true" ></i>';
																
																// SE è PRESENTE IL DATO
																if (data[0]) {
																		if (data[0]>1) {
																				color0 = red
																				if (data[1]) {
																						if (data[1]>1) {
																								color1 = red
																						}
																						text1_eD = '<span style="color:'+color1+'; padding-left: 10px">e-D ' +triangoletto+' ' +prod+' '+data[1].toString()+'%</span>'
																				}
																		}
																		text1_GSE = '<span style="color:'+color0+'; padding-left: 10px">GSE ' +triangoletto+' ' + prod +' '+data[0].toString()+'%</span>'
																}
																if (data[2]) {
																		if (data[2] > 1) {
																				color2 = red
																				if (data[3]) {
																						if (data[3] > 1) {
																								color3 = red
																						}
																						text2_eD = '<span style="color:' + color3 + '">' + ' ' + imm + ' ' + data[3].toString() + '%</span>'
																				}
																		}
																		text2_GSE = '<span style="color:' + color2 + '">' + ' ' + imm + ' ' + data[2].toString() + '%</span>'
																}
																
																return text1_GSE +'&nbsp;&nbsp;&nbsp;'+ text2_GSE +'<br>'+ text1_eD +' '+ text2_eD
														}
												}
										},
								],
								drawCallback: function () {
										var api = this.api();
										for (let i = 2; i < 10; i++) {
												$(api.table().column(i).footer([0])).html(
														'<b>' + toLocale(api.column( i, {page:'current'} ).data().sum(),0) + '</b>'
												);
										}
								},
						});
	                                    
						// CODICE CHE AGGIUNGE LA RIGA DEI COMMENTI (AL CLICK SULLA CELLA DELL'ULTIMA COLONNA, DEFINITA SOPRA)
						$('#table2_{{ anno }} tbody').on('click', 'td.details-control', function () {
								var tr = $(this).closest('tr');
								var row = tabella.row( tr );
								var open = row.child.isShown();
								tabella.rows().every( function ( rowIdx, tableLoop, rowLoop ) {
										if (this.child.isShown()) {
												this.child.hide();
												$(this.node()).removeClass('shown');
										}
								});
								
								if (row.data().comments === '') { var commento = ''; var stato = '' }
								if (row.data().comments !== '') { var stato = row.data().comments.split('&')[1]; var commento = row.data().comments.split('&')[0] }
								
								if (!open) {
										row.child(
												'<div class="container" style="padding: 10px 50px; border-radius: 5px; border: 1px solid lightgrey; background-color: whitesmoke">'+
												'<u>Misure ' + row.data().mese + '</u>'+
												'<ul>'+
												'<li>Stato: '+ stato  +'</li>'+
												'<li>Commento: '+ commento +'</li>'+
												'</ul>'+
												'</div>'
										).show();
										tr.addClass('shown');
								}
						});
				});
		})
</script>