{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
	
	<main class="home-container">
		<div class="item-c py-3 ps-2">
			{% include 'AnalisiDatiImpianti/partials/sidebar.html' %}
		</div>
	
		<div class="item-b">
			<div class="container-fluid p-3">
				<div class="analisi-card" style="padding: 0; background-color: whitesmoke">
					<!-- RIGA COLORATA IN CIMA ALLA COLONNA -->
					<div class="row p-0 m-0" style="height: 15px; background: linear-gradient(135deg, #cfe4ff,#6b98ce);"></div>
					
					<div class="row p-3 pt-0">
						<h1 style="color: #4a3c54; font-weight: lighter">Visione dati - {{ impianto.nome_impianto }}</h1>
						<p>Anno corrente, 01/01/2024 00:00 - {{ oggi }}</p>
						
						<!-- GRAFICO DATI DA INIZIO ANNO -->
						<div class="col border-end">
							<div id="chart-year" style="height: 900px; width: 1000px"></div>
						</div>
						
						<!-- COLONNA A DESTRA -->
						<div class="col mx-2">
							<!-- REPORT -->
							<div class="row">
								<h4>Report</h4>
								<p>
									Genera report dei dati della centrale (<i>portata, potenza, pressione</i> e <i>rendimento</i>) nell'intervallo temporale selezionato.
									Analisi disponibilità e resa.
								</p>
								<!-- FORM PER IL REPORT -->
								<form action="{% url 'analisi-impianto' nickname %}" method="post">
									{% csrf_token %}
									<!-- ERRORI E MESSAGGI -->
									{% for field in form %}
										{% if field.errors %}
											<div class="alert alert-danger" style="padding: 5px"><small>{{ field.label_tag }} {{ field.errors.as_text }}</small><br/></div>
										{% endif %}
									{% endfor %}
									{% for message in messages %}
										<div class="container-fluid my-2">
											<div class="alert {{ message.tags }} alert-dismissible" role="alert" style="padding: 5px">
												{{ message }}
											</div>
										</div>
									{% endfor %}
									<!-- FORM -->
									<div class="row">
										<div class="col">
											{{ form.datetime_start.label }}<br>
											{{ form.datetime_start }} <br>
											<small>{{ form.datetime_start.help_text }}</small><br>
										</div>
										<div class="col">
											{{ form.datetime_end.label }}<br> 
											{{ form.datetime_end }} <br>
											<small>{{ form.datetime_end.help_text }}</small> <br>
										</div>
										<p style="margin-bottom: 5px">
										{{ form.impianto.label }}:
										{{ form.impianto.as_hidden }} <b>{{ impianto.nome_impianto }}</b>
										</p>
										<input type="submit" value="PDF" style="width: 80px; margin-left: 70%"/>
									</div>
								</form>
							</div>
							<br>
							<!-- STATISTICHE IMPIANTO GIORNO-MESE-ANNO -->
							<div class="row">
								<h4>Statistiche</h4>
								{% load humanize %}{% load i18n %}{% load l10n %}
		            {% language 'de' %}
			            <!-- TABELLA CON LE STATISTICHE -->
			            {% include 'AnalisiDatiImpianti/partials/tabella_statistiche.html' %}
								{% endlanguage %}
							</div>
						</div>
						</div>
						
						<!-- GRAFICO RENDIMENTO 3D -->
						<div class="row w-75">
							<div class="col ms-5" style="margin: 20px; border-radius: 5px; border: 1px solid lightgrey">
								<div id="chart-3D" style="height: 500px;"></div>
							</div>
						</div>
				</div>
			</div>
		</div>
	
	<!-- SCRIPT GRAFICO DATI GRAFICI "YearTL" + GRAFICO 3D -->
	{% include 'js/AnalisiDatiImpianti/dettaglio_idroelettrico_js.html' %}
	</main>
{% endblock %}



