{% extends 'base_layout.html' %}
{% load static %}



{% block title %}Aggiornamento dati{% endblock %}

{% block extra_css %}
	
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<!-- Visualizzazione dinamica degli impianti -->
<div class="cards-container">
    {% for impianto in impianti %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <!-- Visualizza il nome dell'impianto preso dal modello -->
            <h5 class="card-title">{{ impianto.nome_impianto }}</h5>
            <!-- Link che include il nickname dell'impianto come parametro -->
            <a href="{% url 'panoramica-contatore' impianto.nickname %}" class="btn btn-primary">
                Vai a {{ impianto.nome_impianto }}
            </a>
        </div>
    </div>
    {% empty %}
    <p>Nessun impianto disponibile.</p>
    {% endfor %}
</div>


{% endblock %} 